[2016-11-25 12:19] pombredanne opened #2 "Release on Pypi"
The `spdx` name is taken by @bbqsrc which is OK, we can pick `spdx-tools` instead.
But to avoid namespace issues, either we should find a way to share the namespace (see https://github.com/bbqsrc/spdx-python/issues/1 ) or refactor the namespace used here.

[2016-11-25 12:22] pombredanne opened #3 "Make test not depend on nose"
At worst I would prefer a py.test dep, but no dep is better.

[2016-11-25 12:30] pombredanne opened #4 "Setup CI on travis, appveyor and circle"

[2016-12-02 19:20] pombredanne commented on #3
all  set in the latest master with PR #5

nose can still be used as well as py.test but nose is no longer required.
Running tests can be done with `python setup.py test`

[2016-12-02 19:20] #3 closed

[2017-01-03 13:22] sschuberth opened #7 "Remove spdx_licenselist.csv in favor of using spdx-lookup package"
Consider using the [spdx-lookup](https://pypi.python.org/pypi/spdx-lookup) package instead of the committed [spdx_licenselist.csv](https://github.com/spdx/tools-python/blob/master/spdx/spdx_licenselist.csv) file.

[2017-01-05 11:20] sschuberth commented on #2
Thanks @pombredanne for creating https://pypi.python.org/pypi/spdx-tools/, so I guess this can be closed.

[2017-01-05 15:52] pombredanne commented on #2
Yes!

[2017-01-05 15:52] #2 closed

[2017-01-05 15:52] pombredanne commented on #2
For reference to release on Pypi (using my cached Pypi credentials) I do:
`python setup.py pypi_release`

[2017-01-06 10:39] pombredanne opened #10 "Add full support for license expressions"
https://github.com/nexB/license-expression provides a comprehensive support for parsing, comparing, validating, normalizing and resolving license expressions based on SPDX or any other license identifiers or names. It uses a boolean logic engine behind the scenes to handle this correctly

We should add this here to support SPDX license expressions here.

[2017-01-06 10:49] pombredanne commented on #7
CSV is not great indeed. There is one issue though: package namespaces. Per https://github.com/bbqsrc/spdx-lookup-python/blob/4f5c2f540525421025e498289f9e84721683d7f9/spdx_lookup/__init__.py#L8 `spdx_lookup` from @bbqsrc depends on https://github.com/bbqsrc/spdx-python from the same author that provides the license lists proper but also uses the same `spdx` package namespace that this tool here is

[2017-01-06 11:16] bbqsrc commented on #7
You can have the entire `spdx.*` namespace as long as the current interface of the `spdx` module can continue to exist, and the `spdx` package stays a minimal database package as it already is so it can be consumed by other projects.

If that works, then I'm open to any other suggestions. :smile:

[2017-01-10 10:03] sschuberth opened #11 "write_document() should support unicode in addition to str"
See the discussion at https://github.com/nexB/scancode-toolkit/issues/436#issuecomment-270935436.

[2017-01-10 11:39] pombredanne commented on #11
I suggest that we use unicode throughout and fail if something is not unicode and that we also run a CI test matrix covering Python 2 and 3.

[2017-02-10 08:51] pombredanne opened #15 "Remove hard depo on nose for tests"
Instead the tests should only depend on the plain `unittest` so that anyone can use any test runner they like (and I love py.test for this)

[2017-02-10 09:03] pombredanne commented on #4
As a followup to @sschuberth in #14 we will also enable Circle

[2017-02-20 16:06] pombredanne commented on #15
This has been fixed with 2be174cee7a6a8d3b84db85da986c09f75b4d755 and nose is no longer needed.

[2017-02-20 16:06] #15 closed

[2017-03-01 15:03] sschuberth commented on #4
Fixed via https://github.com/spdx/tools-python/pull/18.

[2017-03-01 15:03] #4 closed

[2017-03-02 08:50] pombredanne commented on #4
@sschuberth You rock. Let me create another ticket as we would want the status badges in the readme for these!

[2017-03-02 08:52] pombredanne opened #19 "Link CI status badges in README"
As a follow up to #4 it would be nice to get status badges in the README.
I tend to prefer ReST to markdown and we could use the examples of the (sophisticated or complex depending on which way you look at it) status badges used in [scancode](https://github.com/nexB/scancode-toolkit/blob/bd424eae1dcdbb3f873169bbc01d252e4e20e4f4/README.rst)

[2017-03-02 16:53] #19 closed

[2017-03-15 13:28] rtgdk commented on #11
I think it is already supported. For instance, in  examples/ `write_tv.py` , we are opening the file using codec module with utf-8 encoding. So even if we write `out.write(u'# Documenting Information\n\n')` instead of `out.write('# Documenting Information\n\n')` in write_document() it will work.

[2017-03-15 13:37] sschuberth commented on #11
IIRC I was running into problems with Python 3, where `str` is what is `unicode` in Python 2. But I don't remember the details anymore.

[2017-03-15 15:09] pombredanne commented on #11
@sschuberth yes, str is unicode in Python3. str is Python3 bytes in Python2.
We want unicode throughout here with the right adapters to work on 2 and 3. Such as here: https://github.com/nexB/license-expression/blob/master/src/license_expression/__init__.py#L36

[2017-03-15 15:26] pombredanne commented on #11
@rtgdk The point here is to be unicode across the board. e.g. `from __future__ import unicode_literals` should be used everywhere. No more `u'xxx'`

[2017-03-15 19:12] rtgdk commented on #11
@pombredanne  My point was that codec module is taking care of unicode. Since in the `examples/write_tv.py` we are using "utf-8" encoding, so even if we input a Python3 byte(Python2 str) , it is automatically encoded into unicode.

                try:
                    write_document(document, out)

But if the user didn't use `codec.open` and used `open` only, this will not work. For that we ca

[2017-06-28 19:00] abuhman opened #26 "Add SPDX Document Merge"
This would be a merge to combine two SPDX documents without losing any of the license information.  An example use case: A SPDX document including human input is already created, but a new document is automatically generated with a scanner and we wish to merge the two without losing the modifications made by a human.

[2017-07-31 12:57] pombredanne opened #27 "Failed to create an SPDX RDF output if license identifier contains a trailing "+" or later sign"
This is originally reported by @yadsharaf in https://github.com/nexB/scancode-toolkit/issues/692

[2017-07-31 16:55] pombredanne commented on #11
This has mostly been merged... but there is some tests that are still needed. In particular the rdf output seems to write bytes at least on Python 2 while the tv output writes happy unicode

[2018-02-02 17:58] ndip007 commented on #26
@abuhman

I would like to take this on. For this, I suggest another entry point for this command, and in the first place, only `tv` to `tv` spdx document support.
Please I would like to know what you think about this issue, prior to me taking this on.

This could be fun!
Thanks

[2018-02-06 06:36] aviral1701 commented on #27
@pombredanne what's the update on this?

[2018-02-06 14:40] pombredanne commented on #27
@aviral1701 no update... Help would be muched welcomed!

[2018-02-06 14:52] aviral1701 commented on #27
@pombredanne  on it.

[2018-02-08 11:13] pombredanne commented on #26
The key thing is that you need to work on 2 documents at a time, merging them at the object level. The final write is not a problem IMHO, the hard part is the merge at the object level

[2018-02-13 07:14] yash-nisar commented on #10
I would like to work on this @pombredanne :)

[2018-02-13 07:28] aviral1701 commented on #10
@yash-nisar this is a GSoC project.I don’t think you should work on this now.

[2018-02-13 07:29] aviral1701 commented on #27
@pombredanne could you help me get started with this. Please :)

[2018-02-13 07:30] yash-nisar commented on #10
Oh, I didn't notice that this is a GSoC project. However, we should let @pombredanne decide this. :)

[2018-02-15 01:55] thunda99 commented on #10
@pombredanne
Hi, I would like to work on this for GSoC2018. I so love this project. I have started by having a close look at https://github.com/nexB/license-expression, to better understand this project and requirements.

Thanks

[2018-02-17 15:33] aviral1701 commented on #27
I have gone through the code,expect a PR soon.

[2018-02-18 16:40] thunda99 commented on #10
@pombredanne
After looking and running tests for tools-python,
I noticed that the code structure is good.
The use of ply, a good choice.
I have also looked at [nexB](https://github.com/nexB/license-expression).

My question is, how do you want this project to go?
Do you want want this project to be an integration with [nexB](https://github.com/nexB/license-expression) or you want us to be inspired

[2018-02-25 06:04] aviral1701 commented on #27
@pombredanne How do I duplicate this error?

[2018-02-25 06:55] aviral1701 opened #29 "Readme points to old Github account of the primary author"
The readme points to the old account of ah450.I don't know if it was intended to be that way,but we should also add a link for his new account as well.

[2018-02-26 05:33] aviral1701 opened #30 "Build fails"
The [build](https://travis-ci.org/spdx/tools-python) fails for this project. The build fails for Python 3.4 and 3.5.I am working on to correct this.Any feedback would be appreciated.

[2018-02-26 07:03] avirlrma opened #31 "Add Contributing.md for this project."
Following the pattern of other SPDX repositories,this one too should have a contributing.md file.This should invite even more contributors.

[2018-02-26 10:06] aviral1701 commented on #26
@pombredanne I have started working on merging two rdf documents while @ndip007 works on the tv format.

[2018-02-26 15:57] pombredanne commented on #30
Good catch. I would not care supporting Python 3.4 and 3.5 ... but only 3.6 and up in earnest.

[2018-02-27 11:07] aviral1701 commented on #30
@pombredanne So we should remove 3.4,3.5 from CI configuration files,right?
Also, as you might have noticed that the errors occur because of new "byte" type in Python3.I am working on the same,while trying to avoid version-conditional code. Please give your input as well.

[2018-02-28 12:10] avirlrma opened #34 "Document Compare functionality"
I would like to implement this functionality as a small project for understanding my targetted GSoC project a little better. I am planning of making comparision between two rdf format documents at first, then I will go on to expand for tv format as well.Let me know your thoughts on this @pombredanne , so that I can proceed.

[2018-03-01 15:43] yugeshk commented on #30
Hi. are you looking to add python 3.6 to the builds as well? I was looking at all the build logs - possibly I could complete that patch.

[2018-03-04 08:45] yash-nisar opened #36 "Build failure for Travis, Appveyor and Circle"
[Travis](https://travis-ci.org/yash-nisar/tools-python/jobs/348863131) and [Appveyor](https://ci.appveyor.com/project/yash-nisar/tools-python/build/job/6ip42wycsy5wtna9) builds seem to be failing.

Also, it would be great to add support for Python 3.6.

[2018-03-04 08:46] yash-nisar commented on #36
I'm working on a quick fix to get the builds green again.

[2018-03-04 10:06] yash-nisar commented on #36
After a few failed attempts, I finally managed to get the builds passing on [Travis](https://travis-ci.org/yash-nisar/tools-python/builds/348877226) and [Appveyor](https://ci.appveyor.com/project/yash-nisar/tools-python/build/4).

From the [docs](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files):

For our CI systems running on Python3:
1. Literal strings are unicode by

[2018-03-05 02:29] aviral1701 commented on #34
@pombredanne Any word on this?

[2018-03-05 07:18] yash-nisar commented on #27
@pombredanne @aviral1701 Since this has been fixed, can we close this ?

[2018-03-06 04:13] aviral1701 commented on #34
@sschuberth @rtgdk Can you guys take a quick look and give your feedback on this.

[2018-03-06 07:02] rtgdk commented on #34
You are free to do so. Although, the compare functionality may require some time and understanding of the 2.1 specifications. That's why it can be included in the GSoC project along with other things.
You can find the idea for the compare tool here: https://github.com/spdx/tools/tree/master/src/org/spdx/compare

[2018-03-06 08:46] sschuberth commented on #30
I believe this duplicates https://github.com/spdx/tools-python/issues/36.

[2018-03-06 08:46] #30 closed

[2018-03-06 09:00] #36 closed

[2018-03-06 09:18] #29 closed

[2018-03-06 12:43] techytushar opened #39 "Parsing the .tag file gives error"
When parsing the `sample.tag` file using `python parse_tv.py sample.tag`, it throws an error `TypeError: expected string or buffer`. The `sample.tag` is generated after running `python write_tv.py sample.tag`. IMHO this happens because when `write_tv.py` is executed it creates a key value pair `PackageCopyrightText: NOASSERTION`, here type of `NOASSERTION` is `<class 'spdx.utils.NoAssert'>` which

[2018-03-06 12:46] yash-nisar opened #40 "PEP8 violations at a few places"
While going through the codebase, I've noticed a few PEP8 violations which can be fixed by a static code analysis tool like coala.

[2018-03-06 12:53] techytushar opened #41 "Update .gitignore"
The .gitignore file does not have entries for the virtualenv and IDEs file.

[2018-03-08 13:12] yash-nisar opened #45 "Fix typo: 'redundent' -> 'redundant'"
The files where the word `redundent` has been used are :
`spdx/parsers/rdf.py` and `spdx/parsers/tagvalue.py`

[2018-03-14 09:13] yash-nisar opened #47 "Update to full SPDX v2.1"
Update the SPDX Python libraries to the SPDX 2.1 specification. The SPDX 2.1 specification is a major upgrade from SPDX 1.2 supporting relationships between SPDX documents and SPDX elements.

[2018-03-15 07:55] yash-nisar opened #48 "Use isinstance instead of `type(...) in [..., ...]`"
We have a FIXME which states that we should use `isinstance (# FIXME: use isinstance instead??`) instead of this statement -> `if (type(self.conc_lics) in [utils.NoAssert, utils.SPDXNone]`.

[2018-03-15 07:59] yash-nisar commented on #48
One more instance was found in `validations.py` where we have the following line:
`elif type(value) in [six.string_types, utils.NoAssert, utils.SPDXNone]:`.

Since we have used `isinstance()` throughout, we should maintain uniformity and consistency. :)

[2018-03-15 15:26] #48 closed

[2018-03-15 18:23] yash-nisar opened #50 "Messages should be returned instead of modifying the list in place"

[2018-03-16 11:03] yash-nisar opened #52 "Redundant `self.error = True` in parsers/tagvalue.py"
See https://github.com/spdx/tools-python/blob/master/spdx/parsers/tagvalue.py#L908-L909

(One statement needs to be removed)

[2018-03-18 17:52] yash-nisar commented on #47
We should drop support for 1.2 alright and yes focus on new 2.x things.
As far as I am concerned, I would be quite happy with a complete refactoring of the lib internals such that:

[2018-03-18 17:56] yash-nisar commented on #47
@pombredanne @sschuberth @rtgdk It would be great if I could have your inputs on a few things :

 Should I focus on the tag/value builders and parsers for the upgrade to spec 2.1 and keep the rdf part under the optional section ?

Also, since our primary focus is on the tagvalue, we might face problems when while conversions in each of the formats (and also while executing validation functions in

[2018-03-19 11:43] yash-nisar opened #53 "Do not require the SPDX version to be 1.2"
@sschuberth @pombredanne
According to 2ecb3654647ed35cf34320ceafe44d8efdaa338d, we do not require the version to be 1.2, but we have a bug. (still require the version to be 1.2)

Steps to reproduce:
1. Modify `SPDXSimpleTag.tag` and replace this line -> `SPDXVersion: SPDX-1.2` with `SPDXVersion: SPDX-1.1`.
2. Run `python parse_tv.py '../data/SPDXSimpleTag.tag'` from the `examples` directory.

Outp

[2018-03-19 13:12] sschuberth commented on #53
Hi @yash-nisar. I'm sorry, but I'm going to pull myself out of this project as I personally have to need for it anymore, and I'm not a real Python guy anyway. As a result, I will probably not respond to issues or pull requests.

[2018-03-19 13:12] sschuberth commented on #47
Hi @yash-nisar. I'm sorry, but I'm going to pull myself out of this project as I personally have to need for it anymore, and I'm not a real Python guy anyway. As a result, I will probably not respond to issues or pull requests.

[2018-03-19 14:02] yash-nisar commented on #47
No problem :). Thank you for your reviews.

On Mon, Mar 19, 2018 at 6:42 PM, Sebastian Schuberth <
notifications@github.com> wrote:

--

<http://www.somaiya.edu>             <http://www.somaiya.edu/kjsmc>
<http://www.nareshwadi.org> <http://www.somaiya.edu>
<http://www.helpachild.in> <http://nareshwadi.org>

[2018-03-19 14:02] yash-nisar commented on #53
No problem :). Thank you for your reviews.

On Mon, Mar 19, 2018 at 6:42 PM, Sebastian Schuberth <
notifications@github.com> wrote:

--

<http://www.somaiya.edu>             <http://www.somaiya.edu/kjsmc>
<http://www.nareshwadi.org> <http://www.somaiya.edu>
<http://www.helpachild.in> <http://nareshwadi.org>

[2018-03-19 18:47] goneall commented on #47
I would prefer to maintain support for the RDF.  I know there are several users of RDF for the Java libraries (since they are finding bugs 😉 I assume there will also be interested users for Python as well.  I’m OK with the primary focus on the tag/value since that is the larger community.  I can help provide support for any RDF related questions.

There are some discussions of supporting other for

[2018-03-21 05:46] yash-nisar opened #55 "Report an error when an `UNKNOWN_TAG` is found"
Steps to reproduce:
* When I modify any tag, e.g `SPDXVersion: SPDX-1.2` to `SPDXVersio: SPDX-1.2`, the tool should report an error like `Found unknown tag : SPDXVersio at line: 2` but instead it continues to parse.

The tokenizing works fine, the problem is with the parsing method.

[2018-03-22 07:25] yash-nisar commented on #55
A better way to reproduce the bug would be:
* On adding an unwanted line like:
[code]
the parsing should emit an error, but it continues...

[2018-03-22 20:51] #52 closed

[2018-03-22 21:12] pombredanne commented on #27
@yash-nisar good point. Closing.

[2018-03-22 21:12] #27 closed

[2018-03-22 21:22] pombredanne commented on #40
@yash-nisar feel to go through this alright imho as a low priority and small touches at a time.
Remember than PEP8 is not an end of its own though: See https://www.youtube.com/watch?v=wf-BqAjZb8M
And making large format changes to a codebase is fraught with problems for any pending PR and work in progress

[2018-03-22 21:22] pombredanne commented on #39
Thanks for the report and PR

[2018-03-25 15:59] macrovve opened #56 "Change print to python3 style in example"
There are still some codes called the print function the Python 2-way without the parentheses, which may raise SyntaxError in Python 3
here are some examples
[code]

[2018-03-25 16:07] macrovve commented on #56
I think I can fix it, could I open a pull request for it.

[2018-03-26 02:01] pombredanne commented on #56
Sure! go for it. A future import is the way to go for this.

[2018-03-26 02:02] pombredanne commented on #56
Because we want to keep Python2 support

[2018-03-26 15:59] macrovve opened #57 "TypeError: write() argument must be str, not bytes"
when I run example/pp_rdf.py following the README
```pp_rdf.py ../data/SPDXRdfExample.rdf pretty.rdf```
it will raise the Error
```TypeError: write() argument must be str, not bytes```

[2018-03-26 16:08] macrovve opened #58 "there are some extra quotes which may confuse people"
In the README, How to use section.

args `'../data/SPDXSimpleTag.tag'`  should remove single quotes cause they are not valid path in Windows

[2018-04-14 09:00] yash-nisar commented on #53
@pombredanne Your views ?

[2018-04-14 09:04] yash-nisar opened #60 "Make validation optional by introducing a `validate` flag"
On the validation side, the validation will be an option. Fields will not be mandatory by default. They will be checked only when the user asks to validate and not at the time of creation. This will enforce the user to be able to create and dump eventually partial documents that may not yet be fully valid.

This can be established by introducing a `validate` flag in both the parsers (tagvalue and

[2018-04-28 11:24] yash-nisar opened #64 "virtualenv error on OSX build (CircleCI)"
The error that I get is :
[code]

[2018-04-28 14:05] yash-nisar opened #66 "Upgrade 'Document Creation Information' according to the 2.1 spec"
Attributes to be added are:
- [x] SPDX Identifier
- [x] Document Name
- [x] SPDX Document Namespace
- [x] External Document References

See https://github.com/spdx/tools-python/pull/71.

[2018-05-18 19:15] krysnuvadga commented on #66
@yash-nisar it will be nice if the issues are created with more detailed descriptions to them. For " Upgrade 'Document Creation Information' according to the 2.1 spec" is not enough to describe the entire task

[2018-07-04 07:30] yash-nisar opened #75 "Incorrect info in docstring of method `set_pkg_cr_text`"
File: `tagvaluebuilders.py`
The first sentence i.e. `Sets the package's license comment.` should be corrected to `Sets the package's copyright text.`

[2018-07-12 15:51] yash-nisar opened #77 "Incorrect line numbers reported when errors are emitted"
**Steps to reproduce:**
1. Edit line `FileCopyrightText: Copyright 2014 Acme Inc` in SPDXSimpleTag.tag
2. Navigate to the `examples` directory.
3. Run the command `python parse_tv.py '../data/SPDXSimpleTag.tag'`
4. Get output as :
[code]

[2018-07-13 08:07] yash-nisar commented on #77
I've figured out the cause of the bug.

This occurs due to the method `t_text_end` in `lexers\tagvalue.py`. The method body is:
[code]
The line `t.value.count('\n')` doesn't detect newlines because the earlier line is stripped of whitespaces and newlines.

[2018-08-12 08:11] yash-nisar commented on #64
See https://github.com/spdx/tools-python/pull/61

[2018-08-12 08:11] #64 closed

[2018-08-12 13:43] yash-nisar opened #79 "Add support for parsing more than one package"
The current implementation only supports parsing a single package in the SPDX document. There can be one or more packages as mentioned [here](https://spdx.org/sites/cpstandard/files/pages/files/spdxversion2.1.pdf#page=18). We should add support for parsing more than one package.

[2018-08-12 15:40] #50 closed

[2018-10-15 11:57] #31 closed

[2018-10-15 11:57] #34 closed

[2019-01-13 13:58] mzfr commented on #75
@yash-nisar This issue is fixed. I think it should be closed.

[2019-01-13 14:05] mzfr commented on #40
@pombredanne Can I work on this?
I will try to PEP8 only those files that are not currently under any PR or maybe commit one file at once.

[2019-01-13 14:21] mzfr commented on #56
@yash-nisar @pombredanne I wanted to know that there are lot's of open PR's but they were open a long time ago So can I work on them?

[2019-01-16 10:25] kaiz123 opened #83 "Fix type: 'impor' -> 'import'"
Fix typo in document.py

[2019-01-16 10:30] kaiz123 commented on #83
I have fixed this issue. Can someone approve it. Thanks

[2019-02-25 19:16] bhavybarca commented on #45
@yash-nisar
hey, could you merge my pull request
thanks

[2019-03-05 06:37] bhavybarca commented on #10
@pombredanne i would like to work on the issue, in what direction should i explore to make the first contribution i.e. what should be my first deliverable to this issue.
Thanks

[2019-03-05 07:43] pombredanne commented on #10
@bhavybarca You would need to design how to integrate support for this library https://github.com/nexB/license-expression/  and that would also require updating all the internal models accordingly. This is a project of its own alright.

[2019-03-08 05:50] veer11997 commented on #10
Hi, I would like to work on this for GSoC 2019. I would like to work on the project.

[2019-03-18 15:48] RishabhBhatnagar commented on #60
Hello there, this issue still persists??
If yes, I would like to resolve this.

[2019-03-20 05:12] xavierfigueroav opened #88 "has_optional_field implementation may lead to unexpected results"
_has_optional_field(field)_ verifies whether the value of _field_ is not None. But, some attributes are sometimes initialized as some default/empty object, like an empty list. In that example, _has_optional_field(field)_ will always return True, even if the list is empty (when I think it should return False because there is actually no information).

I suggest: return bool(field)

[2019-03-21 09:21] RishabhBhatnagar opened #89 "parse_tv.py causes version issues"
While running example codes in how to use section of [https://github.com/spdx/tools-python](README.md),

Running
```python parse_tv.py '../data/SPDXSimpleTag.tag'   ```
gives following error:

[code]

[2019-03-27 18:56] xavierfigueroav opened #91 "Data from parsers should be stored in spdx models only as python types and spdx models"
When parsing documents from _RDF_ files, some fields are being stored as _rdflib_ objects and it can be problematic.

All data stored in SPDX models (_document.Document_, _file.File_, _document.ExtractedLicense_, etc) should be stored as _python_ and _spdx_ types so that they are independent of the format to be written or read.

I had problems trying to write _YAML_ files from a document instance

[2019-04-03 08:12] pombredanne commented on #45
We are receiving multiple PRs for s single typo. This doe snot deserve a ticket... so I am closing this now

[2019-04-03 08:12] #45 closed

[2019-04-03 08:16] #56 closed

[2019-04-03 08:16] #57 closed

[2019-04-03 08:16] #58 closed

[2019-04-03 08:23] pombredanne commented on #89
@RishabhBhatnagar good find. PR welcomed

[2019-04-03 08:25] pombredanne commented on #89
actually there are pending PRs by @yash-nisar but they need to be rebased before I can merge them... May be that something you can have a look into (unless @yash-nisar can handle it?)

[2019-04-04 09:06] rtgdk commented on #41
@pombredanne This issue can be closed now.

[2019-04-04 09:16] rtgdk commented on #83
@kaiz123  Don't forget to the tag this issue in your PR. Easier to maintain open issues.

[2019-04-05 17:34] xavierfigueroav opened #97 "Duplicate extracted licenses when parsing from RDF"
The field Document.extracted_licenses contains duplicate ExtractedLicense objects when they are parsed from RDF files.

It can be noticed by running [parse_rdf.py](https://github.com/spdx/tools-python/blob/master/examples/parse_rdf.py).
Input: [SPDXRdfExample.rdf](https://github.com/spdx/tools-python/blob/master/data/SPDXRdfExample.rdf)
Output:
[code]

[2019-04-05 19:46] goneall commented on #97
@xavierfigueroav Please attach the full output and the input files to the issue.

[2019-04-05 20:46] xavierfigueroav commented on #97
@goneall I've added a link to the input file now.
I had already included the full output produced by parse_rdf.py. What do you mean exactly?

[2019-04-05 22:33] xavierfigueroav commented on #97
In the input file, there are 4 extracted licenses inside some `<licenseConcluded>` tags. The same 4 extracted licenses are referenced (`<member rdf:nodeID="ID"/>`) inside a <licenseDeclared> `<licenseDeclared>` tag.
Is that something wrong in the rdf file, something that should not happen? If yes, there was never any error in parsers. If not...
Both extracted licenses in `<licenseConcluded>` and e

[2019-04-06 17:16] goneall commented on #97
I took a look at the RDF file and it looks valid.

The 4 extracted licenses are only defined once in the RDF and the same license is referenced in other parts of the document (the ID is used to reference the same license definition).

@xavierfigueroav It looks like you found the source of the problem above - it should not add the extracted license info on each reference, it should only add it once

[2019-04-07 07:05] xavierfigueroav commented on #97
@goneall Thank you for the link, it was and will be helpful.

[2019-04-13 16:45] omi10859 commented on #89
Is it still open? Someone already working?

[2019-04-13 17:19] krysnuvadga commented on #89
@omi10859 you can take on it

[2019-04-14 19:43] omi10859 commented on #89
seem to be working with no errors
![Screenshot 2019-04-15 at 1 12 09 AM](https://user-images.githubusercontent.com/26123416/56098184-8284ae80-5f1b-11e9-853a-fdbcecbede6f.png)

@RishabhBhatnagar can you brief on how to regenerate the error?

[2019-04-17 21:21] xavierfigueroav opened #102 "Version model fields must be integers but sometimes they aren't"
**BACKGROUND INFORMATION**
`major` and `minor` fields of `Version` model are supposed to be integers and the class method `Version.from_str()` is responsible for assuring that.
https://github.com/spdx/tools-python/blob/301d72f6ae57c832c1da7f6402fa49b192de6810/spdx/version.py#L36-L45
If `license_list_version` field is absent when initializing a `CreationInfo` object, a default value is taken from t

[2019-04-23 22:25] xavierfigueroav opened #104 "Section 'artifactOf' of 'File' is not completely supported by RDF parsers/writers"
- RDF parsers do not handle 'projectURI' field of 'artifactOf' section.
https://github.com/spdx/tools-python/blob/301d72f6ae57c832c1da7f6402fa49b192de6810/spdx/parsers/rdf.py#L588-L596

- RDF writers do not handle anything in 'artifactOf' section. That section is not being written in RDF files. A way to try it is running `python tv_to_rdf.py ../data/SPDXTagExample.tag result.rdf`

Output file atta

[2019-04-24 02:41] xavierfigueroav opened #105 "SPDX IDs format inconsistencies between file formats"
RDF and TAG/VALUE file formats have two different ways to write SPDX IDs throughout a SPDX Document (document ID, file ID, annotation ID, package ID, etc).

For RDF files: `[DocumentNamespace|DocumentURI]#[SPDX Identifier]`
For TAG/VALUE files: `[SPDX Identifier]`

A problem comes up when a TAG/VALUE file is written from reading an RDF file: **SPDX IDs will have the format for RDF files**. Moreove

[2019-04-26 11:46] krysnuvadga commented on #89
@RishabhBhatnagar I am closing this issue in favor that no one has reproduced thesame error as a bug

[2019-04-26 11:46] #89 closed

[2019-05-21 17:46] nishakm opened #106 "Add a utility to map originator defined license strings to SPDX license format"
Package managers or text files may declare a license string that may not be an SPDX license format. For example, many projects declare their license as `BSD` but it is unclear which `BSD`.
 oss-review-toolkit has an implementation that comes reasonably close.

https://github.com/heremaps/oss-review-toolkit/blob/490c2da69435182db19c6dbdebad863de41a7108/spdx-utils/src/main/kotlin/SpdxLicenseAliasMap

[2019-06-07 12:36] pombredanne opened #109 "Consider using Azure pipelines for tesing on many Python and OS versions"

[2019-06-07 14:39] pombredanne commented on #106
@nishakm Thank you! This is indeed useful but such a mapping would be most useful in the context of a certain package manifest and type and its actual raw license declaration data and IMHO in the context of  license detection. As such the mappings from ORT are generic and would better if they were package-type specific (e.g. capturing the conventions of npms, Maven, etc).

But my main point is tha

[2019-06-07 14:41] pombredanne commented on #106
@sschuberth btw, this mapping is not right: https://github.com/heremaps/oss-review-toolkit/blob/518e17c0b1385cc403960cfdfdff69e76240cb27/spdx-utils/src/main/kotlin/SpdxDeclaredLicenseMapping.kt#L120
`"CDDL v1.0 / GPL v2 dual license" to (CDDL_1_0 and GPL_2_0_ONLY),` should be instead an OR and not and AND IMHO

[2019-06-07 14:46] sschuberth commented on #106
Thanks @pombredanne for the hint, @mnonnenmacher any comments?

[2019-06-08 04:41] nishakm commented on #106
Agreed. It would be a much larger undertaking then :)

I was going to go off and create an independent python module for this purpose, but I was told by the SPDX folks that this repo would be a good central location for such a module.

The use case is basically translating what looks like the appropriate license declared somewhere in the artifact into the license expression. So I'm not sure how a

[2019-08-20 12:19] #97 closed

[2019-08-20 12:19] #102 closed

[2019-08-20 12:51] #91 closed

[2019-08-21 04:49] xavierfigueroav opened #113 "Add AUTHORS file"
An authors file is needed to list and thank people who have contributed to the project.

[2019-08-27 21:57] Abhishek-Dev09 opened #116 "spdx is not compatible with python 3"
Description- I am using this spdx as deps in scancode-toolkit .When i running the api `calc_verif_code` is not working properly on Python 3. Its saying `TypeError: Unicode-objects must be encoded before hashing`
My source code - https://github.com/nexB/scancode-toolkit/blob/develop/src/formattedcode/output_spdx.py#L319

Output - https://dev.azure.com/nexB/scancode-toolkit/_build/results?buildId=95

[2019-08-28 05:01] pombredanne commented on #116
@Abhishek-Dev09 Thank you for the report ! (As you can see this is a small world and I am also the maintainer here ;) )

[2019-08-28 05:01] pombredanne commented on #116
@altendky Thank you ++ for the fix, let me review and merge shortly

[2019-08-28 21:17] altendky opened #120 "Readme should mention need for DCO signed-off-by commits"

[2019-09-25 09:16] sschuberth commented on #106
@nishakm how about creating language-agnostic license mappings in JSON / YAML format that are initially populated with the existing mappings from ORT / the ones that nexB has, and put them in a "neutral" place like probably a new repository at https://github.com/spdx?

[2019-09-25 13:02] nishakm commented on #106
This sounds good to me if @kestewart and @goneall are OK with creating an independent repo under the spdx github namespace. I am not a license geek but I already feel like a 1:1 mapping is not going to get all the way there. There needs to be some kind of string formatting or downstream processing from there. But a 1:1 mapping to start off would be great!

[2019-09-25 13:30] pombredanne commented on #106
@sschuberth re:

I was exactly talking about this yesterday about this very ticket of @nishakm

@nishakm re:

The right approach would be indeed not to have a 1:1 mapping but something imho which would be this way:
Given these:
- a license string and or structured data snippet (to account for npm old styles and Maven <licenses> structures) as found in a package manifest.
- a package manager type (

[2019-09-25 13:35] pombredanne commented on #106
@nishakm @sschuberth there it is: https://github.com/spdx/package-licenses-mapping
@nishakm I invited you there as a committer too.

[2019-09-25 13:38] pombredanne commented on #106
See https://github.com/spdx/package-licenses-mapping/issues/1 which is the continuation for this ticket

[2019-09-25 13:38] #106 closed

[2019-09-25 13:55] pombredanne commented on #106
@nishakm one of the reason that having a separate repo is better is that it could be reused in many places beyond this Python tool repo.

[2019-09-25 14:02] nishakm commented on #106
It's what I asked for initially. It was suggested that I file an issue here :)

[2019-09-25 14:06] pombredanne commented on #106
@nishakm that's fine, you could have made it clear in the ticket

[2019-09-25 14:08] pombredanne commented on #106
@nishakm  re:

This would be important to validate that the license expressions are correct and in a canonical form. That's a something to add as a test of sorts

[2019-09-28 17:49] goneall commented on #106
Just catching up on the issue .

I recall discussing this on one of the SPDX calls and I do recall talking about adding the issue to the tools.

I also agree with the above comments that we should have a separate data mapping repo along with tools implementations that support the mapping.  I don't recall the discussion precisely, but I don't think anyone had a concern with a neutral mapping repo -

[2019-10-13 16:39] SKalt commented on #120
`CONTRIBUTING.MD` gives a decent explanation of this project's DCO usage, but it's a valid complaint that `README.md` doesn't.  How moving the "How to run tests" and "Developer workflow" to `CONTRIBUTING.md`, and leaving a link to that consolidated file in the README?  I'd be willing to take on the writing.

[2019-10-13 17:13] SKalt commented on #113
Hi, could you quote and link docs on the AUTHORS file standard?  I'm interested in what advantages the split-out AUTHORS file has over the current `authors=[...]` field in `setup.py` or extracting authors from the `git log`.

[2019-10-13 17:25] SKalt commented on #113
More googling yielded https://opensource.google/docs/releasing/authors/, which outlines how an AUTHORS file (1) delineates who has copyrights to the open-source project and (2) creates a central place to acknowledge contributors' work.  Seems worth a look to me. Then again, `git log --format=format:'%aN <%aE>' | awk '!x[$0]++'` or whatever powers Github's repo insights also can shows who committed

[2019-10-13 17:39] SKalt commented on #120
related PR: #121

[2019-10-13 22:15] xavierfigueroav commented on #113
AUTHORS file may be a platform-independent (git/github) alternative to acknowledge contributors' work. It is also a common, good practice in open source projects.

It looks like no SPDX repository has an AUTHORS file, so, if you are interested in, you could follow the style of the [license-expression library](https://github.com/nexB/license-expression)'s one, (which is maintained by `tools-python`

[2019-10-16 10:53] pombredanne commented on #116
@Abhishek-Dev09  I think this is all fixed now, correct? Can you confirm this?

[2019-10-16 10:54] pombredanne commented on #120
@SKalt so do you think we are good now?

[2019-10-16 11:05] Abhishek-Dev09 commented on #116
@pombredanne : Yes, you can close this . but classifier is not updated for python 3.

[2019-10-16 11:09] SKalt commented on #120
w/r/t information being present: yes, with enough reading a contributor should know how to sign off.  I still think the contributing information could be better organized by consolidating it to `CONTRIBUTING.md`.  PR incoming.

[2019-10-16 11:52] pombredanne commented on #116
Thanks!

[2019-10-16 11:52] #116 closed

[2019-10-19 18:38] goneall opened #123 "Review and possibly update JSON and YAML file generation to match the SPDX 2.2 spec proposals"
Several changes to the JSON and YAML formats were discussed and generally agreed on for the SPDX 2.2 spec.

There is a PR with changes to the example file: https://github.com/spdx/spdx-spec/pull/149.  The PR documents the related issues which were resolved (sorry for the extra clicks to find get all the documentation).

The Python libraries may need to be updated to match the 2.2 spec.

[2019-11-28 22:55] CleanHit opened #125 "Searching the SPDX Database for a License Name"
Is it possible to get a license in Json or XML format form SPDX database by searching through the license names using a string (or a regular expression)? The result can also be a best effort result if the given search string is not exact.

[2019-12-29 13:37] Purvanshsingh commented on #83
I think the issue is not solved yet,
As I am a Newcomer can I work on this issue?

[2019-12-31 01:49] Poco1997 commented on #125
Developer Certificate of Origin
Version 1.1

Copyright (C) 2004, 2006 The Linux Foundation and its contributors.
1 Letterman Drive
Suite D4700
San Francisco, CA, 94129

Everyone is permitted to copy and distribute verbatim copies of this
license document, but changing it is not allowed.

Developer's Certificate of Origin 1.1

By making a contribution to this project, I certify that:

(a) The contr

[2020-01-17 13:44] pombredanne commented on #125
@CleanHit there is no such feature for now. Contribution welcomed!
@Poco1997 not sure what you message is about?

[2020-01-18 10:00] RishabhBhatnagar commented on #109
When I researched more about it from [here](https://www.azuredevopslabs.com/labs/azuredevops/github-integration/),
It was found that the organization must be registered with Azure DevOps and using that id we can add Azure pipeline to our project.

[2020-02-05 13:15] anshuldutt21 opened #128 "example file write_tv showing invalid document"
The file write_tv.py in examples is not able to write to the sample.tag file. Errors are displaying showing that the document is invalid and spdx_id undefined.

[2020-02-09 13:35] anshuldutt21 commented on #83
Can anyone please review my pull request #127

[2020-03-16 05:00] RishabhBhatnagar opened #130 "Redundant re-assignment and object creation"
Several files in [tools-python/spdx](https://github.com/spdx/tools-python/tree/master/spdx) make redundant creation of new list and reassignment of messages variable.

For example:
[tools-golang/spdx/annotation.py](https://github.com/spdx/tools-python/blob/master/spdx/annotation.py)
![image](https://user-images.githubusercontent.com/20074475/76723938-1637ae00-676f-11ea-8002-0c773c0f973e.png)
Lines

[2020-06-08 13:21] Yash-Varshney opened #135 "TODO task in readme"
Hello,
Are the mentioned tasks in TODO completed or still remaining? It seems there was a project in 2018 GSoC with the task of updating spdx-tools-python to support spdx 2.1 but in the todo's the task is still there. Also, if some part of it is remaining. Can anyone tell me what is it? So, that I can work on it.
Thanks

Pinging: @pombredanne

[2020-06-08 14:27] Yash-Varshney opened #136 "Changing the old-style f-string (str.format() ) to new style f-strings."
The f-strings used in the code are very old and quite verbose when you are dealing with multiple parameters and longer strings.
Python3.6 introduced a new style f-string which are not only easy to use but also easily readable and faster than the old python2.6 one.

[2020-06-08 17:45] Yash-Varshney commented on #123
Hi @goneall . I am interested in updating `spdx-python-tools` to support spdx v2.2
Can you describe a little bit more about the problem and things needed to be updated further?
Thanks for your time.

[2020-06-08 17:47] Yash-Varshney commented on #105
Hello @xavierfigueroav . I am Interested in this issue and want to make it a part of my proposal.
Can you explain a little bit more about the problem here?
Thanks for your time !!

[2020-06-09 20:19] goneall commented on #123
One suggested approach is to convert the [tag/value example file](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXTagExample-v2.2.spdx) to a JSON using the Python libraries and compare that to the [JSON example file](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXJSONExample-v2.2.spdx.json).  Analyzing the difference should provide a guide as to what

[2020-06-14 04:34] ShubhamKJha opened #138 "Relationships not added (as per SPDX spec-2.1)"
I've found that relationships are not added as per SPDX spec-v2.1. There was a GSoC project to update SPDX Python libraries, but I believe it didn't add relationships. Correct me if I've overlooked something or it was a decision from the mentors.

[2020-06-16 17:18] ShubhamKJha opened #140 "Build failures occurring in Python 2.7"
The tests are failing for Python 2.7 (build failures). This is hindering the testing of PRs.
Apparently, the current master was last tested in August 2019.

[2020-06-17 11:50] #140 closed

[2020-07-13 18:06] Yash-Varshney commented on #138
for more details about the data format, cardinality & other issues, pls look into:
[Relationship between spdx elements](https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/)

[2020-09-08 21:30] rjb4standards opened #145 "Question on UML Object model"
Looking at https://raw.githubusercontent.com/spdx/spdx-spec/development/v2.2.1/ontology/SPDX-2.2.png it appears that a File object is accessible through the package object. However, my editor (notepad++) isn't seeing the File object, when I try to access with document.File - am I misunderstanding the object model at the above URL? Here is the python code I'm failing on:
            for fileName in

[2020-09-09 03:38] #130 closed

[2020-09-09 04:08] RishabhBhatnagar commented on #145
As seen from the [data-model's package](https://github.com/spdx/tools-python/blob/41a5e4a9432ad0ad0afe0420053382023209f4b1/spdx/package.py#L89),
package is associated with a list of files.

For accessing the files, you can do something like following:
[code]

[2020-09-09 14:01] rjb4standards commented on #145
Thanks very much.

[2020-09-09 14:22] rjb4standards opened #146 "What is a best practice for represenitng Python packages in SBOM"
Can someone recommend the best way to transform pip freeze output into SPDX objects? Are these packages supposed to be represented as File object?

Here is an example pip freeze output:
spdx-tools==0.6.1
stix2==2.0.2
stix2-patterns==1.3.1
taxii2-client==2.2.0
urllib3==1.25.8
virustotal-python==0.0.8
wincertstore==0.2
xmlschema==1.0.16
xmltodict==0.12.0

[2020-09-09 22:24] goneall commented on #146
@rjb4standards I would suggest these are represented as a Package object.

@ekongobie - any additional suggestions?

[2020-09-10 13:45] rjb4standards commented on #146
Looking at the Package description in spdx 2.2, I'm thinking use of sub packages, which is how I view these Python dependencies,  will require the use of a relationship object, according to this text:
All Package Information fields must be grouped together before the start of a Files section, if file(s) are present.
All files contained in a package must immediately follow the applicable Package In

[2020-09-23 17:50] pombredanne opened #147 "Make RDF an optional feature"
There is quite a bit of dependencies and  baggage that come with RDF support.
I would like to make this an optional feature so we can have the rest working without RDF support

[2020-10-03 19:59] Yash-Varshney commented on #136
This issue is currently paused and will be a part of a bigger project in which we need to halt v2.x of python and completely update the whole repo to work with v3 and above of python.

[2020-10-03 20:00] #135 closed

[2020-10-11 10:35] alpianon opened #149 "when files_analyzed is set to false, validation does not comply with specs"
According to section 3.8.1, 3.8.3, 3.8.4, 3.9.3 and 3.10.3 of SPDX 2.2 specs:

So, **when files_analyzed is false** in a package:

- there must be no files in the package, so **files must not be validated** (section 3.8.1)
- there must be no **verif_code**, so it **must not be validated** (section 3.9.3)
- there may be no **check_sum** (which is optional, anyway - section 3.10.3), so it **should b

[2020-10-11 10:52] alpianon commented on #149
Also package checksum validation should be skipped when there are no files analyzed (and in any case it is an optional field, according to the specs, so it should not be validated when it is set to None)

[2020-10-11 12:46] alpianon commented on #149
And the same holds for verification_code, too:

[2020-10-12 11:12] alpianon commented on #149
I created pull request #150 to solve all the above issues

[2020-10-24 06:22] RishabhBhatnagar commented on #136
Can you provide some benchmarks to prove the efficiency of fstrings over str.format?
Comparing fstrings with str.format of python2.7 won't be a fair comparison as many of the libraries in python3.x were rewritten in C to improve their runtime.

How does fstrings compare to str.format of python 3.x? If the difference is not significant, we can be better off without any modifications.

One more prob

[2020-10-24 06:38] RishabhBhatnagar opened #151 "Commit Message Description In CONTRIBUTING.MD"
CONTRIBUTING.MD file should also describe how a commit message should be written or rather what a commit message should be.
There is a [recent commit](https://github.com/spdx/tools-python/commit/209a92563ea321403e0e8abc2308644367d73996) in a PR whose title doesn't conclude the changes made and looks like a commit description being used as a commit title.

A good commit message will foster traceabi

[2020-10-24 06:51] RishabhBhatnagar opened #152 "Convertor of cli_tool not working"
This is a follow-up of https://github.com/spdx/tools-python/pull/148#discussion_r509255423 .

[2020-10-24 06:57] zvr commented on #136
Python 3.6 is the earliest still supported version of Python.

[2020-12-08 13:05] alpianon opened #153 "mandatory DocumentNamespace is missing in RDF writer"
While tagvalue writer adds DocumentNamespace tag to tagvalue files (see [this line](https://github.com/spdx/tools-python/blob/d197a3adf95e2f4fc78c6983f5477f9b962bdaab/spdx/writers/tagvalue.py#L329)), rdf writer does not consider it at all, thus producing non-compliant rdf documents, which do not pass validation by java spdx tools and cannot be imported in other applications

[2020-12-08 13:46] alpianon commented on #153
I realized that there are other problems with RDF, I guess this is related to #147

Does this project need more resources?

[2020-12-08 21:47] goneall commented on #147
Just FYI - I just completed redesigning the Java tools to make RDF (as well as Tag/Value, JSON, YAML, and XML) optional formats.  The project was restructured into a common library with a service provider interface for different serialization formats.  There is a separate libraries for Tag/Value, RDF, JSON+YAML+XML, and Spreadsheet. This seems to have solved a similar issue of making the library l

[2020-12-09 19:48] goneall commented on #153
For RDF, the DocumentNamespace is the namespace for the SpdxDocument.  For example, if there is a DocumentNamespace `http://spdx.org/spdxdocs/spdx-example-444504E0-4F89-41D3-9A0C-0305E82C3301` there should be a property triple in the RDF like `<spdx:SpdxDocument rdf:about="http://spdx.org/spdxdocs/spdx-example-444504E0-4F89-41D3-9A0C-0305E82C3301#SPDXRef-DOCUMENT"> ... </spdx:SpdxDocument>`

To ob

[2020-12-09 21:06] alpianon commented on #153
OK I prepared an example.

In [zlib-rdf-test.zip](https://github.com/spdx/tools-python/files/5668543/zlib-rdf-test.zip) you may find:

1) `zlib-1.2.11.spdx`  : a tagvalue spdx file, generated by Scancode, which uses spdx-tools-python to generate it; I patched Scancode in order to have mandatory DocumentNamespace tag included
2) `zlib-1.2.11.spdx-python.rdf.xml` : a rdf/xml spdx file, generated by

[2020-12-09 23:04] goneall commented on #153
From a quick look, it does have the SpdxDocument element, so my hypothesis is not correct.

I'll take a deeper look at the example file and see if I can find out what the issue is.

[2020-12-10 01:16] goneall commented on #153
The primary issue is that all of the files are using the wrong namespace URI.

The following line should be changed to use the document namespace followed by # followed by the ID:

https://github.com/spdx/tools-python/blob/d197a3adf95e2f4fc78c6983f5477f9b962bdaab/spdx/writers/rdf.py#L245

I also noticed another issue - the extracted license infos are using anonomous nodes.  It must use the followi

[2020-12-10 01:19] goneall commented on #153
From looking at the output RDF file, the FileID is always "None".  This looks like it is an issue with the tag/value file.  The tag/value file does not include required SPDX ID's for the licenses.

[2020-12-10 07:17] alpianon commented on #153
You're right. And if you look at the `zlib-1.2.11.spdx-java.rdf.xml` file, you see that spdx-tools(-java) automatically add it when converting from tagvalue to rdf, just by using a counter, like this:

[code]

[2020-12-19 20:49] kestewart opened #155 "Error message when parsing files and mandatory fields are missing."
Using the tools.spdx.dev and feeding in file:

The error message, “Only one PackageName allowed, extra at line: 21”  is confusing and misleading.
as I think the problem is missing mandatory fields.   But please confirm if this is indeed the case.

[2020-12-19 20:58] rjb4standards opened #154 "Parser throwing exception"
PackageName:spdx-tools
SPDXID: SPDXRef-spdx-tools-0.6.1
PackageSupplier: Person:Ahmed H. Ismail
PackageVersion: 0.6.1

Is throwing an exception on this spdx SBOM data: https://raw.githubusercontent.com/rjb4standards/REA-Products/master/SAG-DBOMPOC-SBOM.spdx

Here is the exception I'm seeing:
<class 'TypeError'> 'builtin_function_or_method' object is not subscriptable <traceback object at 0x000001B

[2021-03-01 22:20] rjb4standards commented on #154
I found the culprit for this error too: PackageChecksum must be a single line of text, line: 15
LOOKS LIKE SHA256 not supported, only SHA1 allowed:

15: PackageChecksum: SHA256: aaa5ac584f40fe778013df0aa6544bf157799bd3f608364b451840ed2c8688de

[2021-03-04 17:27] b-thebest commented on #88
Can I work on this issue ?

[2021-03-04 17:28] b-thebest commented on #113
Anything remaining in this issue, which I can do?

[2021-04-08 16:45] thealphacod3r commented on #113
@xavierfigueroav is this resolved or should i complete this?

[2021-04-23 06:56] cole-h opened #158 "Some tests fail on Python 3.9 with `TypeError: __init__() got an unexpected keyword argument 'encoding'`"
[code]

All is well in Python 3.8.

[2021-05-24 19:47] sei-vsarvepalli opened #160 "SPDX tools current state for testing SPDX tag documents."
I am not sure if this tool is currently being developed and maintained.  The online checking tool works okay for a sample SPDX file that I am using - the payload is as shown below.

[code]

On running a sample test using this git repo and the code below:
[code]
I get the following errors.
[code]

As I understand the spec
1. Package checksum is optional
2. PackageVerificationCode is optional as wel

[2021-06-04 13:30] pombredanne commented on #160
@sei-vsarvepalli The tool definitely needs love but is overall stable and used in production day all the times.
What you are trying is not wrong, we just need to support it!
Do you think you could help there? I can provide some guidance.

[2021-06-04 16:04] sei-vsarvepalli commented on #160
Hello Philippe @pombredanne

Happy to help, let me know. I can follow your contributing guidelines and commit any updates.

Thanks
Vijay

[2021-06-04 17:50] licquia opened #161 "CI failures: click has dropped support for Python 2.7"
From the release notes for click (https://click.palletsprojects.com/en/8.0.x/changes/#version-8-0-0):

* Drop support for Python 2 and 3.5.

This means that all Python 2.7 tests fail in CI.

We should tie the click version to the Python version, so click 7.x is forced for Python 2.7.

[2021-06-04 17:50] licquia commented on #161
Strictly speaking, we should probably do the same for Python 3.5 as well.

[2021-06-04 19:59] licquia opened #163 "CI failures: CircleCI XCode version is no longer supported"
The CircleCI builds currently fail with this error message:

[code]

[2021-06-05 00:02] licquia commented on #161
The PR ties click only for 2.7; I verified that click 8.0.1 is still getting installed for Python 3.5 and newer.

[2021-06-05 00:24] licquia opened #165 "CI failures: drop Windows testing of Python 2.7 and 32-bit"
Per comment from @pombredanne in PR #164, we don't need to test 32-bit Python on Windows or Python 2.7 anymore.

[2021-06-05 09:53] #161 closed

[2021-06-05 09:57] pombredanne opened #167 "Rename master branch to main"
This should be done after we have a clean slate wrt. in flight PRs to avoid disruptions

[2021-06-05 10:01] #158 closed

[2021-06-05 10:02] #163 closed

[2021-06-05 10:03] #165 closed

[2021-06-11 12:08] #79 closed

[2021-06-11 13:29] pombredanne opened #169 "Adopt src top-level directory"
See https://blog.ionelmc.ro/2014/05/25/python-packaging/ for a rationale

[2021-06-15 13:58] licquia opened #171 "Add sbom_generator command-line tool"
We've developed a simple tool for generating a software bill of materials from a Python project, intended to be quick and simple.  I've submitted it as PR #170.

[2021-06-17 14:45] tardyp opened #172 "RDF parsing fail if multiple CreationInfo are available"
Black Duck Protex - version 7.8.4 generates rdf data as followed:

[creation_info.rdf.txt](https://github.com/spdx/tools-python/files/6671071/creation_info.rdf.txt)

the parser will fail with
[code]

shouldn't the parser favor best interoperability and don't error out? especially if the duplicated data is exactly the same.

[2021-06-28 10:18] tardyp opened #176 "drop python < 3.6 support"
there are a bunch of future import and six code in this codebase that is not useful.

I propose that we drop them to cleanup the code

[2021-06-28 10:23] tardyp opened #177 "use pytest"
This codebase is using standard python unittest framework

pytest is arguably more advanced and defacto standard for concise unit testing.

- fixture based testing (tempfile, etc)
- module function based testing without the need to define class
- pytest.parametrized is also very useful (to me)

I would propose to include pytest as a dev dependency, so that it is easier to write tests for spdx/tool

[2021-06-30 10:57] TraceyOnim commented on #152
Is there any follow-up on the issue? I'm also facing the same error .

[2021-06-30 11:49] pombredanne commented on #152
@TraceyOnim not yet... help would be mucho welcomed!

[2021-07-15 16:55] #176 closed

[2021-07-15 16:55] #177 closed

[2021-07-16 16:19] njv299 opened #181 "Files without an associated Package allowed by spec, but not supported in Document class"
The current SPDX spec allows for Files to be included in a Document with no associated Package.

This is specified at https://spdx.github.io/spdx-spec/4-file-information/ in the following section (see bullet points 1 and 4):
![image](https://user-images.githubusercontent.com/210219/125974891-61ce89c2-15fe-40dc-a83b-c2fc4d9ef627.png)

Despite this, the current Document class does not allow this. Wh

[2021-07-16 18:06] njv299 opened #182 "Package requires SHA1 hash but spec does not require it"
The SPDX spec for the 'Package Checksum' field does not specify that it _must_ be SHA1, but the current Package class validation logic requires it to be.

This is the relevant part of the spec:
![image](https://user-images.githubusercontent.com/210219/125990315-bfa8e2a6-a1b5-400d-ab24-d6eecfe53008.png)

And this is the section of the code which is doing improper validation (from package.py):
![ima

[2021-07-16 21:13] njv299 commented on #182
I created [this PR](https://github.com/spdx/tools-python/pull/183) to remove the mentioned code.

[2021-07-22 09:14] yanyag opened #184 "JSON is not copatible with v2.2 spec - "packages" and "files" lists should be outside "documentDescribes""
I see a major gap between the the v2.2 spec and the current python-tool implementation of the JSON format.
In https://github.com/Yash-Varshney/tools-python/issues/9 discussion with @Yash-Varshney, @goneall have processed to add spec issue around it.

<html><body>

Python-tool (presently) | Java-tool (v2.2) | proposed | Spec
-- | -- | -- | --
[MAJOR CHANGE] documentDescribes contains Package and Fi

[2021-07-22 15:39] njv299 opened #185 "Multiple checksums per entity allowed by spec, but not supported by FIle and Package classes"
The SPDX spec allows for multiple checksums to be provided for Packages and Files, but the current Package and File classes only allow a single value to be specified.

See the 'Cardinality' section of the following sections of the spec:
![image](https://user-images.githubusercontent.com/210219/126667436-7b8265e5-cb14-4c7a-b4d7-cf86f2133c3f.png)

![image](https://user-images.githubusercontent.com/2

[2021-07-22 15:44] njv299 opened #186 "Incomplete FileType enumeration"
The current allowed values for FileType are incomplete relative to what is listed in the spec.

The values supported by the current repo are:
![image](https://user-images.githubusercontent.com/210219/126668206-a84b00dd-231c-400d-9664-403be930667d.png)
(https://github.com/spdx/tools-python/blob/master/spdx/file.py#L20)

The values allowed by the spec are:
![image](https://user-images.githubusercont

[2021-07-22 15:55] njv299 commented on #186
PR for this is here: https://github.com/spdx/tools-python/pull/187

[2021-07-28 15:25] #186 closed

[2021-08-12 21:14] ro22110 commented on #79
Not sure this issue has been resolved or I am doing something wrong, I just couldn't get it to work with multiple packages, I'am always getting the error:

spdx.parsers.builderexceptions.OrderError: File::SPDXID

[2021-09-16 15:21] pombredanne commented on #182
All fixed, merged and released.
Thanks!

[2021-09-16 15:21] #182 closed

[2021-09-16 15:23] swinslow commented on #185
Just adding a note here, from the SPDX Docfest on Sept. 16 -- looks like this issue leads to errors for valid SPDX documents if they include a `FileChecksum` with the mandatory SHA1, together with additional optional `FileChecksum`s such as SHA256.

[2021-09-16 15:38] ralphie79 opened #190 "Minor spelling error in parser message 'lext' ==> 'text'"
https://github.com/spdx/tools-python/blob/fd6aeba22ec0ad7650571d99db19d2a113ed0782/spdx/parsers/tagvalue.py#L89

[2021-10-13 06:32] pombredanne opened #193 "Fix output handling with filesAnalyzed"
This is a follow up to the closed PR https://github.com/spdx/tools-python/pull/192 by @lhh so we can have a discussion on the issue here.

The two commits messages were:
- Include filesAnalyzed in machine-readable output 82be1b3

- Fix filesAnalyzed handling f2a13d6
When filesAnalyzed is False, several sections should be omitted
when omitting rather than being presented as empty sets or "None"
SPD

[2021-10-20 14:14] zvr opened #196 ""don't work for SPDX v2.2""
On https://github.com/intel/cve-bin-tool/issues/1382, @anthonyharrison writes:

and mentions the test files in https://github.com/spdx/spdx-spec/tree/development/v2.2.2/examples

Is this correct?

[2021-11-12 15:06] dholth commented on #184
I am also having this issue. The json generated by tools-python does not validate against `spdx-schema.json`.

[2021-11-12 15:08] dholth commented on #185
I began working on this in https://github.com/dholth/tools-python/commit/671986d7ec971b27ff7705740f3a2f3f9204c988

The old `chk_sum` is now a getter that returns the first element of `checksums`, but there is no serialization support as yet.

[2021-11-16 16:16] dholth commented on #196
Serializing 2.2 per the jsonschema at https://github.com/spdx/tools-python/pull/197

[2021-11-16 16:18] dholth commented on #185
https://github.com/spdx/tools-python/pull/197 can serialize multiple checksums. Parsing them back in is additional work.

[2021-12-15 15:52] mxmehl opened #201 "Package for Debian"
Would it be feasible to make this library packaged for Debian?

A concrete use case: the REUSE helper tool is meanwhile available in the official Debian repos. If we include this library to generate SBOMs, it should also be available in Debian as a dependency.

If someone already created a .deb file, I could ping a few Debian Developers to ask whether they can maintain them in the Debian repos.

[2021-12-21 14:14] RodneyRichardson opened #202 "xcode 9.4.1. not supported by circleci"
macos tests fail due to unsupported xcode version.

Update circleci configuration to use a supported version (e.g. 10.3.0): https://circleci.com/docs/2.0/testing-ios/

[2021-12-21 15:18] RodneyRichardson opened #204 "Update supported python versions"
Python 3.6 leaves support on 23 Dec 2021.

Suggest:
* remove support for python 3.6
* add support for python 3.10
* update tests to use latest patch of each python version

[2022-01-16 09:19] tamari-oz opened #206 "Fix relationships on non TV output formats"
In 0.7.0a3 relationships are only working on TV. Following my change the lib will generate them on other formats.

[2022-01-16 10:03] tamari-oz commented on #206
Fix is part of [PR](https://github.com/spdx/tools-python/pull/207)

[2022-01-27 11:40] mxmehl commented on #201
It seems all dependencies of this project are already packaged in Debian. So if I didn't miss anything, bringing the project to Debian should be doable :)

[2022-03-07 03:14] #202 closed

[2022-04-06 16:44] makdataproj opened #211 "Does the tool have support for converting SPDX 2.2 tag files?"
Getting this error when trying to convert SPDX 2.2 tag file to SPDX 2.2 json file:

data:AnnotationType must be "REVIEW" or "OTHER". Line: 23

data:FileName Can not appear before PackageName, line: 41

[2022-04-12 06:45] mvhensbergen opened #212 "Inconsistent validation in writing and reading SPDX files; inconsistent examples"
In the examples directory, there are the following two scripts:
- write_tv.py
- pp_tv.py

Running
[code]

generates a spdx file without problem.
Reading this file again:
[code]

[code]

The given line is:
[code]

It seems that the writing of this value passed parsing in the writer, but reading the same value gives a mismatch.

[2022-04-18 11:26] mvhensbergen commented on #212
I have spent some time in the code to see what is going on, and here is my analysis.

**Writing**
In write_tv.py, a Document object is created and subsequently written to a file using
```write_document``` from ```from spdx.writers.tagvalue```. This function has ```validate=True``` as default.

This implies that ```validate_namespace``` in ```document.py``` is called, but only checks if there **is*

[2022-04-25 12:51] yogini-ghode commented on #79
@licquia , we are still facing same issue with multiple packages.
"spdx.parsers.builderexceptions.OrderError: File::SPDXID"
Can you please let us know how we can get over it?

[2022-04-28 16:47] juspence opened #213 "Python library deprecated in favor of Go library, or actively maintained?"
@licquia Sorry to bother, but is this project still being actively maintained, or has it been deprecated in favor of the go tools? My team would really like to use this tool, but had some concerns with the number of open issues and PRs.

[2022-06-08 19:40] bjamesv commented on #181
@licquia, @kestewart, @pombredanne, et al., PR in-progress for this. Will also add Package `rdf:hasFile` support to parser, more tests, and utilize the unpackaged files capability to address RDF parser bug where all `referencesFile` Files get added to the last-listed Package*

Aiming to have something, middle of next week.

*e.g.: https://github.com/spdx/tools-python/blob/f5629c7056b21cbca8543ce3e

[2022-07-16 15:49] #204 closed

[2022-07-27 08:21] nettrino commented on #196
Related to @anthonyharrison's comment above - would it make sense to automatically use https://github.com/spdx/spdx-spec/tree/master/examples automatically in tests? currently the master branch examples (e.g., https://github.com/spdx/spdx-spec/blob/master/examples/SPDXJSONExample-v2.2.spdx.json)  also fail using the `JSONParser` for me

[2022-07-27 12:38] jblu42 commented on #213
No answer is an answer? I also want to ask, if this project is maintained as there still seems to be problems with SPDX 2.2 while the Java Project is already working on 2.3.

I tried to use the parser on an SPDX that validates in the online validator, but throws errors when trying to read with the python library which does not get my hopes up that this is used very often.

[2022-07-27 16:40] goneall commented on #213
@jblu42 I've been actively working with @kestewart to recruit more maintainer bandwidth for this project.  Let me know if you are interested in helping out in this effort.  I have found some usage of the libraries through different forks but the merges back are stalled.  I maintain the Java libraries and I'm not much of a Python person, otherwise I would help more myself.

[2022-07-28 05:49] jblu42 commented on #213
@goneall Thanks for the quick answer! I think this is at least a positive sign that there is still work done here. I probably can contribute with a few patches, but for active work I am currently lacking the time. I am looking into the problem why my online validated SPDX is not reading into the python lib, but with the stale merges it would be great to know if somebody already fixed that problem,

[2022-07-28 08:39] pombredanne commented on #213
@jblu42 @juspence this project needs help for its maintainance. This can come in the form of time or money :)
@juspence I am not sure that using Go is an alternative for a Python library. If anything creating a Python binding to a Go native could work but would not be a straight forward solution IMHO.

[2022-07-28 08:55] jblu42 opened #222 "TV SBOM with multiple packages not read correctly"
I have an SBOM that only contains packages, setting FilesAnalyzed to false this should be according to standard.

Looking at the SBOM examples from SPDX, this example4 causes the same problem when trying to be read by python library
https://github.com/spdx/spdx-examples/blob/master/example4/spdx/example4-bin.spdx

Error output: spdx.parsers.builderexceptions.OrderError: File::SPDXID

Strange as th

[2022-07-28 08:59] jblu42 commented on #222
For reference, shortened example code from the repository here to read a file:

if __name__ == "__main__":
    import sys
    import codecs
    from spdx.parsers.tagvalue import Parser
    from spdx.parsers.loggers import StandardLogger
    from spdx.parsers.loggers import ErrorMessages
    from spdx.parsers.tagvaluebuilders import Builder

    source = sys.argv[1]
    p = Parser(Builder(), Standa

[2022-07-28 18:09] goneall commented on #213
@jblu42 Understand the lack of time - but any contribution is appreciated.  If you find stale merges that you think will fix this, pls. review and add a comment to the PR.  I can merge in the PR as long as someone with more Python experience that I reviews the changes.

[2022-08-11 10:51] linynjosh opened #224 "RDF SBOM document version not read correctly"
I tried changing the version of a rdf SBOM from 2.1 to 2.2 by changing the tag <specVersion>SPDX-2.1</specVersion> to <specVersion>SPDX-2.2</specVersion>. However, the rdf parser still returns a document version of 2.1 instead of 2.2.

[2022-08-11 18:18] licquia commented on #213
@jblu42 To answer your initial question, I'm still coming up to speed on maintenance, and am doing what I can.  I hope to have things under control over the next few months.

[2022-08-11 18:21] licquia opened #225 "Mac tests are broken"
See, for example, PR #223.  Probably needs an updated image reference.

[2022-08-11 20:46] licquia opened #227 "Support SPDX 2.3"
SPDX 2.3 is about to be released; we should support it ASAP.

[2022-08-14 23:42] #75 closed

[2022-08-14 23:42] #66 closed

[2022-08-14 23:43] #53 closed

[2022-09-05 12:15] nicoweidner commented on #152
It looks like the issues reported here were actually fixed in https://github.com/spdx/tools-python/pull/174; the errors are gone. However, the same PR caused an issue with the first example where both `infile` and `outfile` is used. That is caught by [this block](https://github.com/spdx/tools-python/blob/3efab86fd735cb527032c959417668bc9a2d3de1/spdx/cli_tools/convertor.py#L79-L81) and just prints

[2022-09-05 15:29] nicoweidner opened #228 "Use Python type hints"
Python has support for [type hints](https://docs.python.org/3/library/typing.html) since 3.5. Adding it throughout the repo would help new contributors (and in general people who don't work on the project daily) get up to speed.

[2022-09-05 15:42] nicoweidner opened #229 "Remove leftover tv_to_rdf.py"
It seems to be that the file [tv_to_rdf.py](https://github.com/spdx/tools-python/blob/0844b34b415e1780cb2a3a51f28231b1b5502bd6/spdx/tv_to_rdf.py) just contains a special case of the conversion logic, namely converting a tag/value file to rdf - which is covered by [convertor.py](https://github.com/spdx/tools-python/blob/3efab86fd735cb527032c959417668bc9a2d3de1/spdx/cli_tools/convertor.py). `tv_to_r

[2022-09-06 07:53] nicoweidner opened #230 "SPDXRdfExample.rdf is invalid"
The parser shows this error:
[code]
And indeed, the spec says that the [verification code must be omitted if files_analyzed is False](https://spdx.github.io/spdx-spec/package-information/#79-package-verification-code-field). The provided example violates that rule [in this part](https://github.com/spdx/tools-python/blob/209a92563ea321403e0e8abc2308644367d73996/data/SPDXRdfExample.rdf#L144-L154)

[2022-09-06 12:13] nicoweidner opened #231 "Update supported versions in setup.py"
`setup.py` [lists Python 3.6-3.9 as supported versions](https://github.com/spdx/tools-python/blob/main/setup.py#L54-L57). However, CircleCI [runs against Python 3.7-3.10](https://github.com/spdx/tools-python/blob/main/.circleci/config.yml#L106-L113). If the latter reflects the current state, `setup.py` should be updated.

[2022-09-06 13:38] nicoweidner opened #232 "Some validation error messages are not propagated"
One example: Annotation validation [does not return anything](https://github.com/spdx/tools-python/blob/5b40ece44692f3184c35573ed4b8d43b2258210c/spdx/annotation.py#L78-L86), but the place that calls it [expects a return value](https://github.com/spdx/tools-python/blob/a9eeb104e2ccd565af9785d909db5a8777e6dd0a/spdx/document.py#L452). There may be other examples as well.

In general, I would suggest

[2022-09-08 15:01] nicoweidner opened #233 "Convertor warns about missing license when converting SPDXSimpleTag.tag to rdf"
I am getting the following warning:
[code]
Not entirely sure what this warning is about, so I will leave it in this issue for now. It is not shown for other output formats. The created rdf file does contain a reference to the license, though without text:
[code]

[2022-09-27 09:27] nicoweidner commented on #225
I believe this is resolved via https://github.com/spdx/tools-python/pull/226

[2022-09-27 09:35] nicoweidner opened #234 "json/yaml/xml writer add redundant "Document" property at top level"
The writer for json/yaml/xml writes documents like the following, wrapping all content in a redundant `Document` property at top level:
[code]
Apart from being redundant, this is incompatible with e.g. the java spdx library, and it is also incompatible with [the json spec](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json).

**Note:** I feel I have seen this issue

[2022-09-27 13:05] marcindulak commented on #26
How does this issue compare to the scope of https://wiki.spdx.org/view/GSOC/GSOC_ProjectIdeas#SBOM_combiner?
From looking at the tools-python, tools-java and tools-golang it looks like GSOC didn't pick it up, is it still planned?
It was mentioned also in https://www.youtube.com/watch?v=8X5PWa7A6pY#t=21m50s

[2022-10-12 12:51] meretp commented on #152
I'll have a look.

[2022-10-13 09:52] jblu42 commented on #222
@nicoweidner : As you do seem to be very active here, may I ask to have a look at my problem, maybe just if this a larger thing to fix or point to the right direction (code)? This is one of the standard SPDX examples that fails to read.

[2022-10-13 12:38] nicoweidner commented on #222
I am a bit caught up with other issues at the moment, but I will try to have a look (or alternatively pester someone else to have a look)!

[2022-10-13 12:43] jblu42 commented on #222
@nicoweidner : Thanks. If you feel pestered feel free to ignore my request, just contacted you because you seem to put some effort into this project :-)

[2022-10-13 12:52] nicoweidner commented on #222
@jblu42 No, not at all! I am sorry if that came off the wrong way, I see that one could certainly read my comment in a not-so-nice way. What I meant was: I know some other people who will also work some more on this project and may try to delegate work to someone else if I realize I won't get to it soon :innocent:

I should try to keep humorous but potentially ambiguous remarks to a minimum :sweat

[2022-10-13 14:03] #41 closed

[2022-10-13 14:05] meretp commented on #39
@nicoweidner This issue can be closed.

[2022-10-13 14:08] meretp commented on #83
@nicoweidner issue can be closed.

[2022-10-13 14:15] meretp commented on #128
@nicoweidner this issue and the corresponding PR #129 can be closed, problems are already fixed.

[2022-10-13 14:54] meretp commented on #222
Hi @jblu42 ! I had a look at your problem and I think you are right. The problem could be solved by resetting the builder when a new package is created. I will work on this.

[2022-10-13 14:55] jblu42 commented on #222
@meretp Thanks, much appreciated.

[2022-10-14 08:44] nicoweidner commented on #152
Fixed via https://github.com/spdx/tools-python/pull/235

[2022-10-14 08:44] #152 closed

[2022-10-14 10:35] meretp commented on #224
Hi @linynjosh. Thanks for your issue. Is this issue still open? If yes, could you please provide an example to make this reproducable?

[2022-10-14 10:40] meretp commented on #154
related to #185

[2022-10-14 10:53] meretp commented on #234
relates to #184

[2022-10-17 10:01] #230 closed

[2022-10-17 11:09] meretp commented on #104
Thanks for your issue!
The field 'artifactOf' is deprecated since version 1.8.4. Is this issue still of interest?

[2022-10-17 11:57] #190 closed

[2022-10-17 11:58] #83 closed, assigned to nobody

[2022-10-17 11:59] meretp opened #238 "tagvalue writer adds duplicated headlines"
This issue came up in #236. Converting the [SPDXSBOMExample.spdx.yml](https://github.com/spdx/tools-python/blob/main/tests/data/formats/SPDXSBOMExample.spdx.yml) file to a .tag file leads to multiple headlines for relationships and a superfluous headline for extracted licenses. This seems to be an issue with the `write_document` method in [tagvalue.py.](https://github.com/spdx/tools-python/blob/ma

[2022-10-17 12:00] #128 closed

[2022-10-17 12:03] #55 closed

[2022-10-17 12:07] #222 closed

[2022-10-17 12:07] nicoweidner commented on #222
@jblu42 Should be fixed on main now (thanks @meretp !), feel free to try it out

[2022-10-17 12:19] armintaenzertng opened #239 "Documents do not have to contain a package anymore"
[According to spec](https://spdx.github.io/spdx-spec/v2.3/composition-of-an-SPDX-document/#522-package-information-section), since v2.0 a document does not have to contain a package.

This contradicts the [current validation](https://github.com/spdx/tools-python/blob/a9eeb104e2ccd565af9785d909db5a8777e6dd0a/spdx/document.py#L468).

[2022-10-17 12:23] armintaenzertng opened #240 "Invalid `<SpdxDocument>` tags in xml format"
The [current implementation](https://github.com/spdx/tools-python/blob/a76ded116489be3a06b056f3e1f9d01abce23748/spdx/parsers/xmlparser.py#L53) expects an SPDX document in xml format to be wrapped in `<SpdxDocument>` _and_ `<Document>` tags.

As can be seen [here](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXXMLExample-v2.3.spdx.xml), for example, only `<Document>` tags ar

[2022-10-17 12:33] jblu42 commented on #222
@nicoweidner : Already tried it, works like a charm. Could complete my python script I was working on with it, thanks!

[2022-10-17 12:56] meretp commented on #155
This issue seems to be related to #185. Feeding the python parser with the file from above with the mentioned fixes leads to the error:
[code]

[2022-10-17 14:51] meretp commented on #229
Furthermore, the file contains an error, so that the script can't be executed at present. In [line 35 ](https://github.com/spdx/tools-python/blob/c0aa92a3a4779fe189c72b5e1d85a18267f6e45a/spdx/tv_to_rdf.py#L35)it should say
`with open(outfile_name, mode="wb") as outfile`
so that the rdf file can be written.

[2022-10-17 15:56] armintaenzertng opened #241 "Support multiple packages per document"
I came across [this line](https://github.com/spdx/tools-python/blob/7b9395589d65c117f541dc43e85895e2f6fb63ee/spdx/parsers/jsonyamlxml.py#L1654) in the code of `jsonyamlxml.py`:
[code]
Multiple packages per document are supported now, though, so something probably has to be fixed here.

[2022-10-18 13:25] meretp opened #242 "json/yaml/xml writer lists all packages in "documentDescribes""
In the current [implementation](https://github.com/spdx/tools-python/blob/c0aa92a3a4779fe189c72b5e1d85a18267f6e45a/spdx/writers/jsonyamlxml.py#L480) all packages are written to the "documentDescribes"-Tag. According to the [JSON-example](https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXJSONExample-v2.2.spdx.json), packages should be listed in a tag "packages" and "documentDescr

[2022-10-18 13:49] meretp opened #243 ""licenseListVersion" field duplicated"
The field "licenseListVersion" appears as a field of [CreationInfo](https://github.com/spdx/tools-python/blob/c0aa92a3a4779fe189c72b5e1d85a18267f6e45a/spdx/creationinfo.py#L148) and as a field of [Document](https://github.com/spdx/tools-python/blob/c0aa92a3a4779fe189c72b5e1d85a18267f6e45a/spdx/document.py#L302). When executing `convertor.py data/SPDXJsonExample.json output.tag` the licenseListVers

[2022-10-19 09:14] meretp opened #244 "refactor Builder"
Looking at the tools-python in more detail we observed some inconsistencies concerning the builder. The current implementation of the builder classes is dependent on the file format. We suggest to split the parser and builder so that the same builder can be used for different file formats. In our opinion, the builder belongs to the data model and should create a new document from the input of the

[2022-10-19 09:36] nicoweidner commented on #145
Closing this as the question was answered

[2022-10-19 09:36] #145 closed

[2022-10-19 10:36] meretp commented on #138
As relationships have been added in the meantime, this issue can be closed. @nicoweidner

[2022-10-19 10:51] meretp commented on #149
As the corresponding PR is closed with the comment that the PR is merged after a rebase, this issue is fixed an can be closed. @nicoweidner

[2022-10-19 11:00] meretp commented on #160
Hi @sei-vsarvepalli! With the current state of the tool I couldn't reproduce your issue. So I think this is fixed and this issue can be closed.

[2022-10-19 11:31] #138 closed

[2022-10-19 12:03] #149 closed

[2022-10-20 09:04] #225 closed

[2022-10-20 10:20] #167 closed

[2022-10-20 15:05] meretp opened #246 "SPDXID from file incorrectly parsed by rdf parser"
When parsing a rdf file the SPDXID of a file contains the whole path to the spdxID in the graph.
For example converting the example file [SPDXRdfExample.rdf](https://github.com/spdx/tools-python/blob/main/tests/data/formats/SPDXRdfExample.rdf) to a .tag file leads to the following output:
[code]

[2022-10-21 10:23] pombredanne commented on #244
@meretp go for it. Do not ask for permission, only for forgiveness. The whole original RDF-centric design is a mess that needs cleaning anyway.

[2022-10-21 11:48] armintaenzertng commented on #243
`licenseListVersion` should only be part of `creationInfo`.

See for example the [spec](https://spdx.github.io/spdx-spec/v2.3/document-creation-information/#67-license-list-version-field) or an [official example](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/examples/SPDXXMLExample-v2.3.spdx.xml).

[2022-10-21 12:24] #238 closed

[2022-10-23 23:35] jasinner opened #249 "Package External References not written by jsonyamlxml writer"
When a document has packages with package external references those are not written by the jsonyamlxml writer.

Compare that behaviour with the [tagvaluewriter](https://github.com/spdx/tools-python/blob/2f4225c5a2eb2d1ee577c53b3b6075c91b0981c1/spdx/writers/tagvalue.py#L272).

[2022-10-24 18:58] jasinner commented on #242
Isn't this a duplicate of https://github.com/spdx/tools-python/issues/184 ?

[2022-10-24 19:45] jasinner commented on #242
Actually I'm starting to wonder what is the correct use of documentDescribes. In the examples directory for the spec documentDescribes seems to only include some files and packages. Only those which are directly related to the SPDX-Document object in the relationships? There are other packages and files present in the respective packages and files lists which are not listed in documentDescribes. T

[2022-10-24 20:24] goneall commented on #242
I just went back and looked through the spec and I didn't see a very good definition or description.  Probably something that needs to be addressed.

From some of the SPDX meetings I've been involved in, documentDescribes is intended to be the primary packages and/or files the document is intended to document (or describe).  This gives the consumer of the SPDX document a starting point(s) for trav

[2022-10-25 07:34] meretp opened #251 "check if namespace can be deleted in SPDXIDs"
In many places the parsed values are split at `#` to delete the namespace, e.g. [here](https://github.com/spdx/tools-python/blob/2f4225c5a2eb2d1ee577c53b3b6075c91b0981c1/spdx/parsers/rdf.py#L340). This probably originates from the rdf parser, but this is also done in the [jsonyamlxml-writer](https://github.com/spdx/tools-python/blob/2f4225c5a2eb2d1ee577c53b3b6075c91b0981c1/spdx/writers/jsonyamlxml

[2022-10-25 09:41] nicoweidner commented on #242
I definitely agree that there is no clear description anywhere (as is the case for all specialties of the json format).

My understanding, on a working level, was that: In json (and yaml and xml), all relationships of type `SPDX-Document DESCRIBES SPDX-Element` (where element can be a package, file or snippet) are omitted from the relationships list, and the corresponding spdx ids (of the elements

[2022-10-25 10:19] nicoweidner commented on #242
Just looked at some examples in tools-java: The 2.2 json example has duplicated relationships, i.e.: The elements which are listed in `documentDescribes` appear again as `DESCRIBES` relationships: https://github.com/spdx/tools-java/blob/92e1c5d29eacb0081139b0c05e5e6270b231788c/testResources/SPDXJSONExample-v2.2.spdx.json#L245-L256
In the 2.3 json example, this duplication does not appear.

@goneal

[2022-10-25 13:12] #88 closed

[2022-10-25 15:22] goneall commented on #242
This was an intentional change - they were related to the discussion in this issue: https://github.com/spdx/spdx-spec/issues/704

[2022-10-26 15:01] kestewart commented on #244
There's also interest in this work in https://github.com/pypa/pip-audit/issues/251

[2022-10-26 15:55] anthonyharrison commented on #244
As someone who tried to use the original tooling (and when it didn't work for SPDX 2.2 tried to see if it could be 'easily' repaired - it couldn't!), I ended up writing some of my own tooling (referenced in https://github.com/pypa/pip-audit/issues/251) I agree with @nicoweidner that a data model needs to be developped (probably several to cover packages, files, documents) and then need to create s

[2022-10-27 07:34] meretp commented on #246
duplicate of #105

[2022-10-27 08:25] armintaenzertng commented on #251
Also, the namespace should only be discarded if it actually matches the document namespace. If it is different (i.e. referencing an external element from another document) we have to keep it.

[2022-10-27 09:12] zvr commented on #251
As @armintaenzertng wrote, this is really not a _validation_ -- it's a check to see whether the namespace can be deleted as a shorthand.

[2022-10-27 11:02] meretp commented on #249
Thanks for the issue! Looking deeper into this issue I found out that the jsonyamlxml-parser and builder are also missing ability to read external references for packages. It might be good to fix this as a whole (parser, builder and writer) in one PR. As discussed in #244 we are planning to refactor the builder. Once that is done we can also address this issue. Are you okay with this issue being p

[2022-10-27 12:18] #246 closed

[2022-10-27 12:19] meretp commented on #251
related to #105

[2022-10-27 14:29] nicoweidner commented on #242
We discussed the following strategy for dealing with `documentDescribes`:

**Parsing**:
Read both the relationships in the input document as well as the contents of `documentDescribes`. In the latter case, only add a relationship if no identical relationship exists already (i.e.: Handle the case where a document contains both the relationship as well as the `documentDescribes` entry).

**Writing**

[2022-10-27 18:11] goneall commented on #242
@nicoweidner Agree with the approach - it is unlikely we're run into relationship comments on a document describes, but if we do you are already handling the duplications on read.

An alternative approach would be to add the describes relationship comment to an Annotation at the document level to preserve the comment - but I think your proposal is a better approach than using the annotations.

[2022-10-27 23:14] gitgitwhat opened #255 "Doesn't even work with provided examples"
This tool, and even the online version, fail with the provided SPDX samples found here(https://github.com/spdx/tools-python/tree/main/data).

Trying to verify the RDX example using this command `java -jar tools-java-1.1.2-SNAPSHOT-jar-with-dependencies.jar Verify spdx.rdf` causes this error:

[code]

Meanwhile trying to verify the same RDX file online throws this error:

`Cannot invoke "String.equ

[2022-10-28 03:14] gitgitwhat commented on #255
Talk about fast service!  Thanks for the quick response.

Encoding issue seems odd but when I `wget`'d the RDX sample to my Linux box (vs copying it over from my Windows system) and ran the verify command I now get this error.  Maybe it's related to your PR in that the SPDXRef aren't valid?  If that's the case, curious why these samples were posted in the first place?  More critically, why the too

[2022-10-28 10:12] meretp opened #256 "fix example files"
The current example files aren't valid according to spec and need some fixes. Below is a list of comments from PR #254 where some of the issues were found.

[2022-10-28 10:14] meretp commented on #255
I have opened a new issue (#256) concerning the example files in python-tools and would suggest to close this one as it also contains java-specific issues (even if they are already fixed). Are you okay with that?

[2022-10-28 10:18] meretp commented on #256
https://github.com/spdx/tools-python/pull/254#discussion_r1006747120
https://github.com/spdx/tools-python/pull/254#discussion_r1006760508

[2022-10-30 01:59] jayvdb opened #257 "Remove use of __file__"
`__file__` is an optional attribute of packages.  c.f. https://github.com/indygreg/PyOxidizer/issues/69 for why and alternatives.
[code]

[2022-10-30 04:30] jayvdb opened #258 "PyPI v0.7.0a3 tarball contains spdx/parsers/{parser.out,parsetab.py}"
The sdist at https://pypi.org/project/spdx-tools/0.7.0a3/#files includes two files `spdx/parsers/{parser.out,parsetab.py}` which are apparently not part of the source, and these are being installed.

They look like generated artifacts of the tests.

I have generated an sdist with https://github.com/spdx/tools-python/pull/156 , and they are still included in the sdist.

`python3 setup.py clean --al

[2022-10-31 09:40] nicoweidner opened #259 "Fix LicenseInfoInSnippet property name"
In the Python tools (including the examples in the repo), the https://spdx.github.io/spdx-spec/v2.3/snippet-information/#96-license-information-in-snippet-field property is named `licenseInfoFromSnippet`. However, as can be seen in the spec, it should be called `licenseInfoInSnippet`.

edit: This also applies to files. The property should be called `licenseInfoInFile`

[2022-10-31 17:00] #255 closed

[2022-11-01 08:30] meretp opened #261 "delete duplicated example files"
The example files in  `data/` are the same as in `tests/data/formats`. The latter folder contains more files that are used for testing whereas the first one only contains examples that are used as an entry point to using this tool. I suggest that we delete the files in `data` so that we don't have any duplicate files and point to the files in the test folder as examples in the readme.

[2022-11-01 12:12] meretp opened #262 "snippet class misses range field"
According to the spec the [byte range field](https://spdx.github.io/spdx-spec/v2.2.2/snippet-information/#9.3) is required for snippets. The current implementation is missing a field for this in the [snippet class](https://github.com/spdx/tools-python/blob/c8ac3630ad5441f860a14ad5115467db99fa5fdc/spdx/snippet.py#L16-L53). If this field is added, then the parser and writer for all formats must also

[2022-11-01 12:42] meretp commented on #7
Hi @sschuberth! We are cleaning up this repo and in the process I noticed this old issue. Since the linked repo has been archived and the CSV list is no longer part of the repo, I think this issue can be closed.
Or are there any other ideas to rewrite the current use of the license list @pombredanne?

[2022-11-01 12:51] sschuberth commented on #7
As 462e986daba28d6d9c28593dee29ff3d801a7268 replaced the CSV with the JSON from https://github.com/spdx/license-list-data/blob/master/json/licenses.json this can indeed be closed.

[2022-11-01 12:51] #7 closed

[2022-11-02 09:00] nicoweidner commented on #234
Comment: In the case of xml, there needs to be a root element, see https://www.w3schools.com/xml/xml_syntax.asp. But for json and yaml, this is not required.

[2022-11-02 09:17] nicoweidner commented on #213
I think it is universally agreed that this project was lacking maintainer bandwidth for a while. We got some more bandwidth now and are working on improving things, but there is still quite a bit of backlog to clear up before we can make more radical changes. Help in the form of issues, PRs or reviews is always welcome!

I hope this answers the question, I'll close the issue for now. Hopefully, si

[2022-11-02 09:17] #213 closed

[2022-11-02 09:21] meretp commented on #233
I had a look at this issue and this is what I have found out so far:
- The rdf writer is the only one that creates these `ConjunctiveLicenseSet`/ `DisjunctiveLicenseSet` with these `member`-tags  for concluded and declared licenses, see [here](https://spdx.github.io/spdx-spec/v2.3/SPDX-license-expressions/#d46-license-expressions-in-rdf). For all other formats only the license expression is writte

[2022-11-02 09:24] jblu42 commented on #213
@nicoweidner Thanks to you and the current contributors, this project is making a lot of progress again. Can you consider regular releases, this helps e.g. retrieving working copies from pypi.org with bugs fixed. Last release on pypi is from 2019.

[2022-11-02 10:23] nicoweidner commented on #213
The rough plan is to fix and merge all the outstanding PRs and potentially fix some issues that are considered very important, then create a new release. After that, we want to address some bigger changes to the data model before creating a new release with many breaking changes.

[2022-11-03 10:10] nicoweidner opened #264 "Fix expected.json used in tests"
While trying to fix a test, I realized that https://github.com/spdx/tools-python/blob/main/tests/data/doc_parse/expected.json is hopelessly out of date. It doesn't contain a `spdxVersion` property, seems to have been created for 2.1, and throws a whole range of errors when trying to parse (granted, some might also arise from bugs in the tools, but most likely a lot of them are issues with the file

[2022-11-03 12:08] nicoweidner commented on #10
See https://github.com/spdx/tools-python/pull/111 for an implementation attempt. I don't think continuing with that PR is viable though, as it is very old and outdated.

[2022-11-03 16:07] nicoweidner opened #267 "Move CI to Github Actions"
Currently, Appveyor is broken, and supposedly it is not the first time that it's unstable.
Many people consider Github Actions a better CI solution than CircleCI.

For these two reasons, I'd suggest to move all CI checks to Github Actions. It seems to support runners for Linux, MacOS and Windows: https://github.com/actions/runner-images

[2022-11-03 16:10] nicoweidner commented on #267
@licquia @pombredanne Thoughts on the move?

[2022-11-03 16:12] sschuberth commented on #267
Indeed, sorry for that 😞 @maxhbr just pinged me on the breakage.

They should be gone now. They are no more required checks, and I just deleted the dangling webhook from this repo's settings.

:+1: from moving to GitHub actions (for all platforms).

[2022-11-03 16:31] nicoweidner commented on #267
Cool, thanks for removing them! We will take this as extra incentive to move to Github Actions quickly :sweat_smile:

[2022-11-03 16:37] #184 closed

[2022-11-04 08:22] nicoweidner commented on #160
Closing this as it appears to be fixed.

[2022-11-04 08:22] #160 closed

[2022-11-04 08:34] nicoweidner commented on #105
I just tried to reproduce this:
[code]
The input file had rdf-style identifiers, the output file had tag-style identifiers. I will close this as it appears to be fixed already.

[2022-11-04 08:34] #105 closed

[2022-11-04 08:38] nicoweidner commented on #109
Relates to https://github.com/spdx/tools-python/issues/267
Any objections to choosing Github Actions over Azure pipelines?

[2022-11-04 08:41] nicoweidner commented on #104
`artifactOf` is deprecated since a long time, but for some reason it was never removed. I'd say we close this for now, and potentially reopen if someone convinces us the tools should still be able to handle `artifactOf`.

@goneall Do you know why the property was never dropped, and whether anyone still uses it?

[2022-11-04 19:41] goneall commented on #104
@nicoweidner I don't know why it hasn't been dropped, but it was deprecated on release 2.0 several years ago, so I doubt you will find very many documents still using this property.  It is probably safe to drop it.

[2022-11-04 20:12] nicoweidner commented on #104
Closing this for the time being. If anyone really needs support for `artifactOf`, they will have to raise a new issue (or reopen this one)

[2022-11-04 20:12] #104 closed

[2022-11-07 07:53] meretp commented on #242
Fixed with #254

[2022-11-07 07:53] #242 closed

[2022-11-07 07:53] meretp commented on #234
fixed with #254

[2022-11-07 07:53] #234 closed

[2022-11-07 07:54] meretp commented on #240
fixed with #254

[2022-11-07 07:54] #240 closed

[2022-11-07 10:28] meretp commented on #47
Hi @yash-nisar! We are currently cleaning up this repo and I came across your issue that is still asking for support for spec version 2.1. Since this issue is already a bit older and many changes have been made in the repo: Are you still missing fields for spec 2.1?

Concerning the discussion above:
Beginning with #244 we are planning to refactor the data model and the builder structure. This will

[2022-11-07 13:17] meretp commented on #211
Hi @makdataproj! Thanks for your issue, to answer your initial question:  Unfortunately the tool doesn't fully support spec version 2.2 but we are currently working on it.

I had a deeper look at the errors you provided.
The first one is rather misleading, it is thrown by the tagvalue parser [here](https://github.com/spdx/tools-python/blob/30c1f4ea2e5782bf8cacea67a7febfa19cae6c92/spdx/parsers/tagv

[2022-11-07 13:55] meretp commented on #196
#211 is a duplicate of this issue resp. a subproblem of this one. As commented in the other issue I tried to analyze the errors described by @anthonyharrison but couldn't fix them yet:

I would agree with @nettrino that it would be best to use the examples from the spec for the tests.

[2022-11-07 13:56] meretp commented on #211
As this is a duplicate of #196 I will close this issue for now.

[2022-11-07 13:56] #211 closed

[2022-11-08 09:54] armintaenzertng opened #268 "Output of the CLI parser is incomplete"
When using the CLI parser to read in and print out SPDX documents, multiple fields are missing (like license comments or multiple checksums) and others are printed out even though they contain no info (like attribution texts or annotations). This should be further investigated and then updated to include all available information in the output (and nothing more).

[2022-11-08 10:28] armintaenzertng commented on #227
Fields currently missing in tools-python:

- [ ] files not belonging to a package

in packages:
- [ ] primary package purpose
- [ ] release date
- [ ] built date
- [ ] valid until date

in snippets:
- [ ] byte range (mandatory)
- [ ] line range
- [ ] annotations (probably a parsing issue with (at least) xml)
------------------
Fields that are mandatory in tools-python, but should be optional:
- [

[2022-11-08 11:42] armintaenzertng commented on #227
Issues with the xml parser:

The following fields are now using different tags/values:

in snippets:
- [ ] `fileId` is now `snippetFromFile`
- [ ] `licenseInfoFromSnippet` is now `licenseInfoInSnippets`

in files:
- [ ] file type values are now of the format `SOURCE`, not `fileType_source`
--------------------
During conversion from xml to xml the following fields get lost (whether they are not pa

[2022-11-08 12:55] nicoweidner opened #269 "Add missing package properties for SPDX v2.3"
See https://github.com/spdx/tools-python/issues/227:
- primary package purpose
- release date
- built date
- valid until date

[2022-11-09 08:36] nicoweidner commented on #249
Should be resolved via https://github.com/spdx/tools-python/pull/266, please give it another go, then we can close this issue

[2022-11-09 15:05] meretp commented on #206
fixed with #270

[2022-11-09 15:08] meretp commented on #206
Since the output of the rdf writer for relationships doesn't completely match the spec I will leave this issue open.

[2022-11-09 16:33] armintaenzertng opened #272 "Make properties optional that are not mandatory anymore in 2.3"
- [x] package concluded license
  - [x] package declared license
  - [x] package copyright text
  - [x] license information from files
  - [x] package verification code
  - [x] package has files
  - [x] file concluded license
  - [x] license information in file
  - [x] file copyright text
  - [x] snippet concluded license
  - [x] snippet copyright text
  - [x] license information in snippet

[2022-11-10 11:18] meretp opened #274 "[rdf] add support for snippet byte_range and line_range"
#273 adds the fields byte range and line range to the internal data model. The rdf parser/writer need to be updated to also handle these new fields. Once this functionality is added the initially skipped tests in `test_conversion.py` and `test_write_anything.py` should be reactivated. And we should also add validation functions for the new fields, at least for the mandatory byte range field.

[2022-11-10 11:44] meretp opened #275 "[jsonyamlxml] parse annotations that are nested within packages/snippets/files"
For json, yaml and xml-files annotations are subelements of the package/snippet/ file they annotate. Therefore the SPDX identifier reference field is only implicitly given. For now the parser adds the nested annotations at top-level but doesn't parse the SPDXID of the element the annotation originated from.

[2022-11-10 13:08] nicoweidner opened #277 "Discuss architecture rework to be more modular and future-proof"
This is going to be a big issue; more on the level of an epic, if such a thing would exist on Github. I'd like to start a discussion about it first, and if there are no objections, we can create a new umbrella issue for all the smaller issues that will be required.

The core suggestions are:
- Enable separate logical paths for different SPDX versions (currently, there is no distinction at all)
- C

[2022-11-10 14:50] armintaenzertng opened #278 "Recover missing properties during parsing/writing"
When converting from xml to xml, the following properties get lost/changed:
in packages:
- [x] comment

in files:
- [x] attribution texts
- [x] in fileContributors: `file contributor` is converted to `['file contributor']`

[2022-11-10 15:46] nicoweidner commented on #277
Note that this plan most likely implies rewriting large parts of the Python tools. Apart from the scale of the changes, this is also due to the state that the tools are in, which is not great - to put it mildly. The parser/builder layer in particular is quite a mess that needs a complete rework to become maintainable. The writer layer is in a somewhat better state (and also smaller overall), but c

[2022-11-11 08:46] #249 closed

[2022-11-11 09:50] armintaenzertng commented on #269
As tag-value seems to be in high demand, we should also support these properties in that format.

[2022-11-11 12:16] sschuberth commented on #267
Maybe this could help here: https://github.com/actions/importer-issue-ops

[2022-11-11 13:48] armintaenzertng commented on #227
known shortcomings that we might want to fix later:
- rdf parser, builder and writer
- unpackaged files
- `attributionText` should be a list

[2022-11-11 13:50] zvr commented on #277
I would actually propose to _not_ try and integrate v3 handling, but start from a blank sheet on this, armed with the experience of past work (and errors!) made.

As can be seen even in this diagram, v3 will have very little in common with v2 (different model, parsing, generating, validating, etc.), although it obviously deals with the same functionality. Trying to handle both versions (v2 and v3)

[2022-11-11 14:05] nicoweidner opened #281 "TagValue builder writes attribution text into comment"
See https://github.com/spdx/tools-python/blob/main/spdx/parsers/tagvaluebuilders.py#L1088-L1095

[2022-11-11 15:54] #272 closed

[2022-11-11 15:55] #281 closed

[2022-11-11 16:05] #278 closed

[2022-11-14 08:34] nicoweidner commented on #277
@zvr Are you saying you would keep v3 handling in a completely separate repo?
The idea (as shown in the diagram above) was to make sure to include a version parameter at each "entry point", so that internal handling can be completely separate. As you said, v3 is expected to be radically different, so I would expect that separate classes and probably a different internal structure for the parsing a

[2022-11-14 10:39] meretp opened #285 "refactor test_tag_value_parser"
Arisen from https://github.com/spdx/tools-python/pull/282#discussion_r1020397007.
For now the `TestParser` in `test_tag_value_parser.py` builds a complete document and parses this completely in every single test (`test_doc`, `test_creation_info`, `test_review`, ..). A better approach would be to either parse the whole document once and then call the subtests or to build minimal uncomplete document

[2022-11-14 11:44] zvr commented on #277
Yes, I would strongly suggest having a separate repo and library for spdx3. It is (will be) a completely different beast: not only different classes and architecture, but also different "entry points" as you say.

For conversion (if it even makes sense) a separate utility using both libraries would be enough (`spdx2.load(); spdx3.save()`, with a lot of internal knowledge of both models).

[2022-11-14 13:26] #262 closed, assigned to meretp

[2022-11-14 15:14] nicoweidner commented on #60
While the parser methods still don't have a `validate` flag (see e.g. [this section](https://github.com/spdx/tools-python/blob/7b9395589d65c117f541dc43e85895e2f6fb63ee/spdx/parsers/jsonparser.py#L27-L29)), there doesn't seem to be a lot of people impacted by this shortcoming. I will close this for the time being; the [upcoming refactoring](https://github.com/spdx/tools-python/issues/277) will vali

[2022-11-14 15:14] #60 closed

[2022-11-14 15:35] zvr commented on #277
Sorry, I wasn't clear.  When I mentioned "entry points" above I was talking about _library_ interface, not the _CLI tools_ one.

Since both versions talk about the same abstract ideas, but with very different implementations, do you expect to have classes like `File_v2`, `File_v3`, and similarly for every entity? I believe there will not be a single one that could be reused.

And in the future, SP

[2022-11-14 16:28] #269 closed

[2022-11-14 16:55] zvr commented on #277
Let me expand a little:

I don't know whether you have been following up the v3 discussions, but a reasonably current model can be seen at https://github.com/spdx/spdx-3-model/blob/main/model.png. It is immediately obvious that it will be completely different from SPDXv2.

I assume that this repo is about the library capable of dealing with SPDX -- not only about the command-line tools. As such, I

[2022-11-15 08:34] armintaenzertng opened #287 "Rename snippet properties"
- `fileId` is now `snippetFromFile`
- `licenseInfoFromSnippet` is now `licenseInfoInSnippets`

[2022-11-15 12:12] nicoweidner opened #290 "Refactor data model"
In order to tackle https://github.com/spdx/tools-python/issues/244 and the bigger changes discussed in https://github.com/spdx/tools-python/issues/277, we should create a clean version of the data model, following [the specification](https://spdx.github.io/spdx-spec/v2.3/) closely.

[2022-11-15 12:26] meretp opened #291 "extract license class to separate file"
To be able to use type hints properly in `file.py` the `License` class should be extracted from `document.py` to a separate file.

[2022-11-15 14:33] nicoweidner commented on #291
This change also makes sense in general. `License` is used by various elements (not just `Document`), so there is little reason to keep it in `document.py`.

[2022-11-15 14:38] #287 closed

[2022-11-16 09:18] armintaenzertng opened #294 "Convert deprecated fields during parsing"
- ArtifactOf sections should be converted to `GENERATED_BY` relationships (details TBD)
- Reviews should be converted to annotations of type `REVIEW`

[2022-11-16 09:36] armintaenzertng opened #295 "rdf support for 2.3"
The updated 2.3 data model is only supported with the formats tag-value, xml, json and yaml.
The rdf format support for v2.3 has been postponed.

[2022-11-16 10:15] armintaenzertng opened #296 "Rewrite unit test for package verification code calculation"
Due to the restructuring of the data model (making files a document property instead of a nested property of packages) the method that calculates the package verification code has been moved over to `utils.py`.
The corresponding unit test does not work anymore. As it was never a serious test in the first case, it has to be rewritten anyway.

[2022-11-16 12:26] armintaenzertng opened #297 "Flaky rdf tests due to ordering issue"
The unit tests `test_write_document_rdf_with_validate` and `test_write_document_rdf_with_or_later_with_validate` compare `OrderedDict` types. During writing to rdf and then parsing again the ordering of relationships is not deterministic, resulting in random ordering and thus unit tests that sometimes work and sometimes don't.

[2022-11-16 14:34] #291 closed

[2022-11-16 16:19] armintaenzertng opened #299 "Allow single lines during parsing of text values in tag-value format"
Fields that currently only allow `"<text>...</text>"` strings should also allow single lines of text (i.e. strings without `"\n"`).

[2022-11-17 09:12] armintaenzertng commented on #259
fixed by #289

[2022-11-17 09:12] #259 closed

[2022-11-17 10:33] armintaenzertng opened #301 "Add new relationship types for 2.3"
See https://spdx.github.io/spdx-spec/v2.3/diffs-from-previous-editions/

There are two new relationship types in 2.3:
- `REQUIREMENT_DESCRIPTION_FOR`
- `SPECIFICATION_FOR`

[2022-11-19 07:15] jayvdb opened #302 "New (2022) release"
The last release was over a year ago.

What is blocking a release?

[2022-11-21 08:21] meretp commented on #241
This comment has since been deleted and as you say, support for multiple packages is available. I think this was just a leftover comment that noone has taken care of, so I would consider this issue resolved and close it.

[2022-11-21 08:58] nicoweidner commented on #47
Closing this for now, please ping if it should be reopened

[2022-11-21 08:58] #47 closed

[2022-11-21 10:59] armintaenzertng commented on #241
yes please :)

[2022-11-21 10:59] #241 closed

[2022-11-21 11:10] meretp commented on #302
Hi @jayvdb! Thanks for asking. We are still in the process of adding support for 2.3 (as you can track on the board [here](https://github.com/orgs/spdx/projects/3/views/1)). Once all changes are implemented and merged, we will make a release.

[2022-11-21 11:12] meretp commented on #295
#274 is a subtask of this.

[2022-11-22 08:26] #290 closed

[2022-11-22 09:47] #299 closed

[2022-11-22 13:57] nicoweidner opened #305 "Refactor JSON parser"
We want a refactored parser using the new data model (available on https://github.com/spdx/tools-python/tree/refactor-python-tools).

Possible basic interface (maybe extract an abstract base class later) as follows. The parser class should use composition instead of inheritance.
[code]

[2022-11-22 14:46] nicoweidner opened #306 "Refactor CreationInfo in new data model"
The tag/value spec lists all top-level document properties under `CreationInfo`: https://spdx.github.io/spdx-spec/v2.3/document-creation-information/. The current refactored data model is closer to the json schema and contains only a subset of those properties.
It would be more convenient to have all top-level properties bundled under `CreationInfo` (for example in view of the new parser and valid

[2022-11-22 15:47] armintaenzertng opened #307 "Refactor validation"
We want a refactored validation using the new data model (available on https://github.com/spdx/tools-python/tree/refactor-python-tools). The main goal is to keep it completely separated from the parsing/writing layers.

Validation error messages could be instances of a class that tracks their context like this:
[code]
Validation can be performed by calling validation methods that return `List[Erro

[2022-11-22 16:44] #181 closed

[2022-11-22 16:44] #297 closed

[2022-11-23 07:36] meretp commented on #239
Reopen because the jsonyamlxml writes an empty list if no packages are present, this should be fixed.

[2022-11-23 16:33] armintaenzertng opened #309 "Support multiple file types and fix the casing"
`fileTypes` must be a list.
Also, uppercase file types (e.g. `SOURCE`) is now used everywhere but in rdf, where it is `some_namespace#fileType_source`.

[2022-11-24 08:26] armintaenzertng opened #312 "Superfluous list output of attribution texts in json"
When converting from json to json, the attribution text list will get wrapped in an additional list.

[2022-11-24 09:37] #312 closed

[2022-11-25 08:08] #309 closed

[2022-11-25 09:13] meretp opened #316 "fix example scripts"
The scripts provided in the `examples` folder need to be updated to the current changes so that these files can be used as an entry point to this library in addition to the cli tools.

[2022-11-25 15:06] #316 closed

[2022-11-25 16:42] armintaenzertng opened #320 "Use version class for spdx version in the new data model"
Also add a third number for patch version.

Then we can compare versions with each other, which is especially helpful with version-specific validations.

[2022-11-28 07:32] meretp commented on #229
Closing this issue as the file is fixed with #316 and moved to the example folder.

[2022-11-28 07:32] #229 closed

[2022-11-28 09:26] nicoweidner opened #321 "Add setters with type checks in new data model"
We should add setters to the new data model that include a type check, to make sure that instances are "type-valid". While this is already useful in itself, it also helps avoid doing type checks in multiple places (parser and validation).

[2022-11-28 15:39] #185 closed

[2022-11-28 15:46] meretp commented on #154
Closing this issue as it should be solved with #311. Please reopen, if this is not the case.

[2022-11-28 15:46] #154 closed

[2022-11-28 16:09] meretp opened #323 "rdf-parser fails on SPDXRdfExample-v2.2"
The rdf parser throws an IndexError (`IndexError: list index out of range`), when trying to parse the RdfExample file for spec version 2.2  from the spdx-spec repo ([here](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/examples/SPDXRdfExample-v2.2.spdx.rdf.xml)).

[2022-11-28 16:15] meretp commented on #196
I would close this issue for now as the described errors for tag-value files are fixed and all example files for version 2.2 except the rdf example from the spec repo can be parsed now. Concerning the rdf file I opened another issue (#323) which is more specific than this one. If anyone has any objections, please ping and/or reopen.

[2022-11-28 16:15] #196 closed

[2022-11-28 16:53] nicoweidner opened #324 "Add SPDX 2.2 and 2.3 examples to test files"
SPDX 2.2 and 2.3 should now be fully supported apart from rdf. Examples from the spdx-spec repo should be added to https://github.com/spdx/tools-python/tree/main/tests/data/formats, so that they are picked up by https://github.com/spdx/tools-python/blob/main/tests/test_write_anything.py. The conversions marked as unstable in that test should be checked and enabled if possible.

[2022-11-28 21:58] abhi-kr-2100 commented on #323
I've successfully reproduced this error, and currently working to diagnose and fix it.

[2022-11-29 00:55] abhi-kr-2100 commented on #323
After some analysis, I've found that the body of the for loop at https://github.com/spdx/tools-python/blob/main/spdx/parsers/rdf.py#L1450 doesn't execute. As a result, `set_ext_doc_id` — the function that populates `doc.ext_document_references` — is not run.

The for loop at https://github.com/spdx/tools-python/blob/main/spdx/parsers/rdf.py#L1459 does run, but since `doc.ext_document_references` i

[2022-11-29 09:36] meretp opened #326 "fix cli parser output for SPDXNone und NoAssert"
The objects in the `licenses_in_file` field of  `file` objects can either be `License` objects, `SPDXNone` or `NoAssert` objects (see the [validation](https://github.com/spdx/tools-python/blob/731e92aec531ad7271ae3f5435dce7b04ec7477a/spdx/file.py#L184-193)). When writing this info to the console ([here](https://github.com/spdx/tools-python/blob/731e92aec531ad7271ae3f5435dce7b04ec7477a/spdx/cli_too

[2022-11-29 11:22] #326 closed

[2022-11-29 11:31] armintaenzertng opened #328 "json parsing issue when no packages are present"
Parsing a json document with no or empty `packages` results in the following error during file parsing:
[code]

[2022-11-29 13:22] #328 closed

[2022-11-29 13:56] meretp opened #330 "[tagvalue] fix parsing of relationships that contain a DocumentRef"
Trying to parse the linked [example file](https://github.com/spdx/spdx-examples/blob/master/example6/spdx/example6-bin.spdx) results in the following errors:

Further analysis have shown that the tagvalue parser fails because the first SPDX Element in the relationships have a `DocumentRef` as prefix.

[2022-11-29 15:05] #330 closed

[2022-11-29 15:49] meretp opened #333 "jsonyamlxml parser throws TypeError when parsing relationships for None-SPDXIDs"
If you try to parse a json- file with an invalid `SPDXID` for the document, this field is set to `None`. This can later on result in a `TypeError` when trying to parse a `documentDescribes`-relationship. This error should be handled properly and not result in a termination of the parser.

[2022-11-29 16:54] #333 closed

[2022-11-30 12:02] #324 closed

[2022-11-30 16:56] nicoweidner opened #335 "Update TODOs in readme"
The readme still lists SPDX v2.2 and v2.3 support as TODOs. It should be updated with the list of known shortcomings for 2.3